<p id="notice"><%= notice %></p>

<h1>Pagos</h1>
<div ALIGN=center>
<!--<%= form_tag import_accountreceivables_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Importar" %>-->
 <% end %>
<table>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Proof</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.name %></td>
        <td><%= payment.description %></td>
        <td><a href="<%= payment.proof %>">Download</a></td>
        <td><%= link_to 'Show', payment, :class => 'btn btn-success btn'  %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment), :class => 'btn btn-warning btn' %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger btn'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div align=right>
<%= link_to 'Nuevo Pago', new_payment_path, :class => 'btn btn-default btn'  %>
</div>