<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), accountpayables_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Importar Cuentas</h1>
</div>
</div>

<%= form_for @accountpayable_import do |f| %>
  

  
  

        <div id="menu-element" class="well-separator">
              
                <div class="row">
                <div align="center">
                    <div class="col-sm-4"><label>Seleccionar Archivo</label></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"><label>Importar Cuentas</label></div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-4" align="center">
                  <div class="field">
                    <%= f.file_field :file %>
                  </div>
                  </div>    

                  <div class="col-xs-3"> 
                  </div>
                  <div class="col-xs-3">


                  </div>
                  <div class="col-xs-2">
                  <div align="center">
                    <div class="buttons"><%= f.submit "Importar", :class => 'btn btn-default btn'   %></div>
                    
                  </div>

                  
                  </div>
                </div>
                
             
        </div>

        <div align="center">
          <h4>En esta sección puedes importar masivamente una lista de cuentas por pagar contenidas en un archivo excel.</h4>
          <h4> La primera fila del archivo debe ser el nombre de columna. </h4>
          <h4>Las columnas deben llamarse tal y como se muestra a continuación:</h4>
        </div>  
        <ul>
      <li>
        <strong>numeroProfit</strong> - Tipo texto   <strong>(campo obligatorio)</strong>
      </li>
      <br>
      <li>
        <strong>rifProveedor</strong> - Tipo texto <strong>(campo obligatorio)</strong>  
      </li>
      <br>
      <li>
        <strong>descripcion</strong> - Tipo texto  <strong>(campo opcional)</strong>
      </li>
      <br>
      <li>
        <strong>montoPagado</strong> - Tipo decimal  <strong>(campo obligatorio)</strong>
      </li>
      <br>
      <li>
        <strong>comentario</strong> - Tipo texto  <strong>(campo opcional)</strong>
      </li>

<br>

</ul>
        <div align="center">
          <h5>Si un <strong>numeroProfit</strong> se suministra se actualizará el registro coincidente en lugar de crear uno nuevo.</h5>
        </div>



        <br>
       <% if @accountpayable_import.errors.any? %>
    <div id="error_explanation">
      <h2>Se encontraron <%= pluralize(@accountpayable_import.errors.count, "errores") %> en la importación:</h2>
      <ul>
      <% @accountpayable_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
