<%= simple_form_for(@client_mail) do |f| %>
  <%= f.error_notification %>

  <b><%= f.input :massMailings,  label: "Correo Masivo"%></b>
  <div class="row" id="destinity">
        <div class="col-xs-12" >
          <%= f.association :client, label: 'Destinatario', include_blank: "Seleccionar Cliente", error: "Debe seleccionar un Ciente"%> 
        </div> 
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :title, placeholder: 'Título', label: 'Título', input_html: { autocomplete: 'off' }, error: 'Debe ingresar el título del Correo' %>
        </div>   
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :body, placeholder: 'Mensaje', label: 'Mensaje', input_html: { autocomplete: 'off' }, error: 'Debe ingresar el contenido del Correo' %>
      </div>
  
  


    

  
<br><br>

  <div class="form-actions">
    <%= f.button :submit, "Crear Correo" %>
  </div>

<% end %>


<script type="text/javascript">
$(document).ready(function(){

  console.log('Hey There!');
  $('#client_mail_massMailings').click(function(){
     
     if ( $('#client_mail_massMailings').is(':checked') ){

      
        $('#destinity').hide();
     }else{
      
        $('#destinity').show();


     }


  })
});

</script>
