<%= simple_form_for(@client_mail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  
  <b><%= f.input :massMailings,  label: "Correo Masivo"%></b>

  <%= f.association :client, label: 'Destinatario', include_blank: "Seleccionar Cliente", error: "Debe seleccionar un Ciente"%> 
  <!--<%= f.input :client, :collection => Client.all, :input_html => { :multiple => true } %>-->
    <%= f.input :title, placeholder: 'Título', label: 'Título', input_html: { autocomplete: 'off' }, error: 'Debe ingresar el título del Correo' %>
    <%= f.input :body, placeholder: 'Mensaje', label: 'Mensaje', input_html: { autocomplete: 'off' }, error: 'Debe ingresar el contenido del Correo' %>

  </div>
<br><br>
<div align="right">
  <div class="form-actions">
    <%= f.button :submit, "Crear Correo" %>
  </div>

<% end %>


<script type="text/javascript">
$(document).ready(function(){

  console.log('Hey There!');
  $('#client_mail_massMailings').click(function(){
     
     if ( $('#client_mail_massMailings').is(':checked') ){

        console.log('entre perra');
        $('#client_mail_client_id').hide();
     }else{
        console.log('no entre perra');
        $('#client_mail_client_id').show();


     }


  })
});

</script>
