<%= simple_form_for(@client_mail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  
  <b><%= f.input :massMailings,  label: "Correo Masivo"%></b>

  <%= f.association :client, include_blank: "Seleccionar Cliente", error: "Debe seleccionar un Ciente"%> 
  <!--<%= f.input :client, :collection => Client.all, :input_html => { :multiple => true } %>-->
    <%= f.input :title, placeholder: 'Título', label: 'Título', input_html: { autocomplete: 'off' }, error: 'Debe ingresar el título del Correo' %>
    <%= f.input :body, placeholder: 'Mensaje', label: 'Mensaje', input_html: { autocomplete: 'off' }, error: 'Debe ingresar el contenido del Correo' %>

  </div>
<br><br>
<div align="right">
  <div class="form-actions">
    <%= f.button :submit, "Crear Correo" %>
  </div>

<% end %>
