<p id="notice"><%= notice %></p>
<h1>Correo</h1>
<p>
<div align="center">
<p>
  <strong>Fecha:</strong>
  <%= @client_mail.date %>
</p>
<%@client = Client.find(1)%>
<p>
  <strong>Cliente:</strong>
  <%= @client.name %>
</p>
  <strong>Título:</strong>
  <%= @client_mail.title %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @client_mail.body %>
</p>


</div>
<div align="right">
<%= link_to 'Atrás', client_mails_path, :class => 'btn btn-default btn' %>
</div>

