<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), client_mails_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Correo</h1>
</div>
</div>



<div ALIGN=center>
  	<table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
        <tr>
        	<td> 
				<p>
				  <strong>Fecha:</strong>
				  <%= @client_mail.date %>
				</p>
		
				<%@client = Client.find(@client_mail.client_id)%>
			</td>
        	<td>
				<p>
				  <strong>Cliente:</strong>
				  <%= @client.name %>
				</p>
			</td>
        </tr>
        <tr>
        	<td> 
				<p>
				  <strong>Título:</strong>
				  <%= @client_mail.title %>
				</p>
			</td>
        	<td>
				<p>
				  <strong>Mensaje:</strong>
				  <%= @client_mail.body %>
				</p>
			</td>
        </tr>
</div>