
<%= simple_form_for(@user, html: { class: 'form-inline' }) do |f| %>

  <br>
  <div class="row">
    <div class="col-xs-6">
      Usuario <%= f.label :Correo, @user.email %><br>
    </div>
  
    <div class="col-xs-6">
      <%= f.input :role, :collection => [['Administrador','admin'],['Limitado','limited'],['Restringido','restricted']], label: "Rol" %>
    </div>
  </div>

  <br>
  <div ALIGN=right>
   <div class="actions">
    <%= f.button :submit, "Modificar Rol"%>  
    <%= link_to 'Atrás', users_path, :class => 'btn btn-default btn'  %>
  </div>
  </div>
<% end %>

