
<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>
<div class="row">
<div class="col-xs-4">
        <!--Busqueda de clientes por nombre-->
        <%= hidden_field_tag :direction, params[:search]%>
        <%= hidden_field_tag :sort, params[:sort]%>
        <label>Nombre</label>
        <%= form_tag users_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search], class: 'form-control'  %>
            <%= submit_tag "Buscar Usuario", :name => nil, :class => 'btn btn-default btn'   %>
          </p>
        <% end %>
      </div>    
    </div> 
  
    <table class="table table-striped table-hover">
      
      <tr >
          <th>Correo</th>
          <th>Rol</th>
          <th colspan="3"></th>
      </tr>
    

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <%if user.role == "admin"%>
          <td>Administrador</td>
          <%end%>
          <%if user.role == "limited"%>
          <td>Limitado</td>
          <%end%>
          <%if user.role == "restricted"%>
          <td>Restringido</td>
          <%end%>
          <%if user.role == "client"%>
          <td>Cliente</td>
          <%end%>
          <td> <%= link_to image_tag('/assets/showeye.ico'), user %></td>
          <td><%= link_to image_tag('/assets/pencil.ico'), edit_user_path(user) %></td>
          <td><%= link_to image_tag('/assets/delete.ico'), user, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate %>

