

<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), reminders_path %>

<h1>Recordatorio</h1>


  
<div ALIGN=center>
<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @reminder.name %>
</p>
<p>
  <strong>Frecuencia:</strong>

 <%= "Diaria" if @reminder.frecuency == 1 %><%= "Quincenal" if @reminder.frecuency == 15 %><%= "Mensual" if @reminder.frecuency == 30 %>
</p>



