<h1>Gráficos</h1>


    <div id="menu-element" class="well-separator">
      
        <div class="row">
        <div align="center">
            <div class="col-sm-3"><label>Monto Facturado Vs  Pagado</label></div>
            <div class="col-sm-3"><label>Conceptos de pago</label></div>
            <div class="col-sm-3"><label>Clientes Deudores</label></div>
            <div class="col-sm-3"><label>Instalaciones</label></div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-3" align="center">
          
                  
                   <%= link_to image_tag('/assets/paid.ico', title: "Monto Pagado Vs Facturado"), graphs_show_amountPaid_path %>
           
          </div>    

          <div class="col-xs-3"> 
            <div  class="right-separator-red" align="center">
        	 <%= link_to image_tag('/assets/accounts.ico', title: "Conceptos de Pago"), graphs_show_accountTypes_path %>
            </div>
          </div>
          <div class="col-xs-3">
          <div align="center">
            
            <%= link_to image_tag('/assets/debtors.ico', title: "Clientes Deudores"), graphs_show_clientsDebtors_path %>
            
          </div>
          </div>
          <div class="col-xs-3">
          <div align="center">


            <%= link_to image_tag('/assets/install.ico', title: "Instalaciones"), graphs_show_facilities_path %>
            
          </div>
          </div>
        </div>
        
    
</div>
	
		<div class="row">
			<div class="col-xs-12">
				<div class="panel" style="background-color: #5e2068; color: #fff; -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75); box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75)">
      <div class="panel-heading">Distribución de cuentas por Concepto</div>
     
    
				<div id="orders_chart" style="width: 987px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @accountreceivablesRatesPercentage, label: "Cuentas", xtitle: "Clientes", ytitle: "Nro Cuentas", refresh: 60  %></div>

			</div>
		</div>
	
					

		</div>
		<div class="row">
		
			<div class="col-xs-12">	
				<table class="table table-striped">
					<thead>
				    <tr>
				    <th>Cliente </th>
				    
				      <th>Numero de cuentas</th> 
				    
				    </tr>
					</thead>
					<tbody>
					
				    <% @accountreceivables_count.each do |accountreceivable| %>
				    
				    	
				      	<tr>
				        
				        	<th><%= accountreceivable[0] %></th>
				            <td><%= accountreceivable[1] %></td> 
				      </tr>
				    <% end %>
				  	</tbody>
				</table>

			</div>
					

		</div>
		
		<br><br>
		
			
	