<h1>Gráficos</h1>
<!--<div class="row">
	<div class="col-xs-6">	
		<%= pie_chart({"Football" => 10, "Basketball" => 10, "Karate" => 10, "Trompo" => 10}) %>
	</div>

 	<div class="col-xs-6">
		<%= column_chart ({ 20.day.ago => 5, 10.day.ago => 10, "2017-010-07 00:00:00 UTC" => 7})%>
	</div>
</div>-->
	<div class="row">
		<div class="col-xs-6">
			<div class="panel-heading">d. Top clientes deudores (por monto adeudado)</div>
				<div id="orders_chart" style="width: 400px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @topDebtorsbyAmount, label: "Deuda Bs", download: true   %></div>
		</div>
		<div class="col-xs-6">
			<div class="panel-heading">d. Top clientes deudores (por monto adeudado)</div>
				<div id="orders_chart" style="width: 400px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= column_chart @topDebtorsbyAmount, label: "Deuda Bs", xtitle: "Clientes", ytitle: "Bolivares", download: true   %></div>
		</div>
		
	</div>
	<br><br>
	<div class="row">
		<div class="col-xs-6">
			<div class="panel-heading">e. Top clientes deudores (por meses adeudados)</div>
				<div id="orders_chart" style="width: 400px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @topDebtorsbyMonth, label: "Deuda Meses", download: true  %></div>
		</div>
		<div class="col-xs-6">
			<div class="panel-heading">e. Top clientes deudores (por meses adeudados)</div>
				<div id="orders_chart" style="width: 400px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= column_chart @topDebtorsbyMonth, label: "Deuda Meses", xtitle: "Clientes", ytitle: "Cantidad de meses", download: true  %></div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="panel-heading">f. Instalaciones</div>
				<div id="orders_chart" style="width: 400px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= column_chart @install, label: "Número", xtitle: "Concepto", ytitle: "Cantidad", download: true  %></div>
		</div>
		
	</div>
	<br><br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel-heading">Cantidad de Cuentas por Cliente</div>
				<div id="orders_chart" style="width: 1000px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @accountreceivables_count, label: "Cuentas", xtitle: "Clientes", ytitle: "Nro Cuentas", download: true, download: "boom"   %></div>
		</div>
		
	</div>
	<br>
		<br>
		<br>

		<div class="row">
		
			<div class="col-xs-12">	
				<table class="table table-striped">
					<thead>
				    <tr>
				    <th>CodigoProfit </th>
				    
				      <th>Cliente</th>
				    
				      <th>Mes a Pagar</th>
				    
				    <th>Fecha</th>
				      <th>Pagada</th>
				      <th>Concepto</th>
				      
				      <th>Monto Pagado</th>
				      
				    </tr>
					</thead>
					<tbody>
					<%@accountreceivables = Accountreceivable.all%>
				    <% @accountreceivables.each do |accountreceivable| %>
				    	<%@constant = Constant.find(accountreceivable.constant_id)%>
				      	<tr>
				        
				        	<th><%= accountreceivable.profitNumber %></th>
				            <td><%= accountreceivable.client.name %></td>
				            <td><%= accountreceivable.month %></td>
				         	<td><%= accountreceivable.paid%></td>
				          	<td><%= accountreceivable.date %></td>
				          	<td><%= accountreceivable.paid %></td>
				          	<td><%= @constant.name %></td>   
				      </tr>
				    <% end %>
				  	</tbody>
				</table>

			</div>
					

		</div>
		<div class="row">
		
			<div class="col-xs-12">	
				<table class="table table-striped">
					<thead>
				    <tr>
				    <th>Cliente </th>
				    
				      <th>Numero de cuentas</th>
				    
				    </tr>
					</thead>
					<tbody>
					
				    <% @accountreceivables_count.each do |accountreceivable| %>
				    
				    	
				      	<tr>
				        
				        	<th><%= accountreceivable[0] %></th>
				            <td><%= accountreceivable[1] %></td> 
				      </tr>
				    <% end %>
				  	</tbody>
				</table>

			</div>
					

		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="panel-heading">Tipos de Cuentas</div>
				<div id="orders_chart" style="width: 400px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @accountreceivables_type, label: "Cuentas", xtitle: "Clientes", ytitle: "Nro Cuentas", download: true, download: "boom"   %></div>
			</div>
			
			
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel-heading">Cantidad de cuentas por concepto</div>
				<div id="orders_chart" style="width: 1000px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @accountreceivablesConstantsPercentage, label: "Cuentas", xtitle: "Clientes", ytitle: "Nro Cuentas", download: true, download: "boom"   %></div>
			</div>
		</div>
		<div class="row">
		<%@clients = Client.all%>
		<%@clients.each do |client|%>

		<%end%>
		</div>
			
			
			
			
			<br>
			<br>

