
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), graphs_index_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Gráficos</h1>
</div>
</div>

    <div id="menu-element" class="well-separator">
      
        <div class="row">
        <div align="center">
            <div class="col-sm-3"><label>Monto Facturado Vs  Pagado</label></div>
            <div class="col-sm-3"><label>Estado de Cuentas</label></div>
            <div class="col-sm-3"><label>Clientes Deudores</label></div>
            <div class="col-sm-3"><label>Instalaciones</label></div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-3" align="center">
          
                  
                   <%= link_to image_tag('/assets/paid.ico', title: "Monto Pagado Vs Facturado"), graphs_show_amountPaid_path %>
           
          </div>    

          <div class="col-xs-3"> 
            <div  class="right-separator-red" align="center">
        	 <%= link_to image_tag('/assets/accounts.ico', title: "Conceptos de Pago"), graphs_show_accountTypes_path %>
            </div>
          </div>
          <div class="col-xs-3">
          <div align="center">
            
            <%= link_to image_tag('/assets/debtors.ico', title: "Clientes Deudores"), graphs_show_clientsDebtors_path %>
            
          </div>
          </div>
          <div class="col-xs-3">
          <div align="center">


            <%= link_to image_tag('/assets/install.ico', title: "Instalaciones"), graphs_show_facilities_path %>
            
          </div>
          </div>
        </div>
        
    
</div>



	

<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-3"></div>
<div class="col-xs-3"></div>
<div class="col-xs-3">
<select class="form-control" >
			   
            
            <option id="select1">Por Monto Adeudado</option>
            <option id="select2">Por Meses Adeudados</option>
            

</select> 
</div>
</div>
<br><br>

	<div class="select1 box">
	<div align="center">
	<div class="row">
		<div class="col-xs-12">
				<div class="panel" style="width: 986px; background-color: #c24248; color: #fff; -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75); box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75)">
      <div class="panel-heading">Top 10 Clientes deudores (Por monto adeudado)</div>
				<div id="orders_chart" style="width: 986px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @topDebtorsbyAmount, label: "Deuda Bs", legend: true , refresh: 60  %></div><!--, donut: true -->
		</div>
		</div>
	</div>
		
	
<br><br>
	
		
			<div class="col-xs-12">	
				<table class="table table-striped">
					<thead>
				    <tr>
				    <th>CodigoProfit </th>
				    
				      <th>Cliente</th>
				    
				      <th>Mes a Pagar</th>
				    
				    <th>Fecha</th>
				      <th>Pagada</th>
				      <th>Concepto</th>
				      
				      
				    </tr>
					</thead>
					<tbody>
					<%@accountreceivables = Accountreceivable.all%>
				    <% @accountreceivables.each do |accountreceivable| %>
				    	<%@rate = Rate.find(accountreceivable.rate_id)%>
				      	<tr>
				        
				        	<th><%= accountreceivable.profitNumber %></th>
				            <td><%= accountreceivable.client.name %></td>
				            <td><%= accountreceivable.month %></td>
				          	<td><%= accountreceivable.date %></td>
				          	<td><%= accountreceivable.paid %></td>
				          	<td><%= @rate.name %></td>   
				      </tr>
				    <% end %>
				  	</tbody>
				</table>

			</div>
					

		</div>
	</div>
	<div class="select2 box">
		<div align="center">
	<div class="row">

		<div class="col-xs-12">
				<div class="panel" style="width: 986px; background-color: #c24248; color: #fff; -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75); box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75)">
      <div class="panel-heading">Top 10 Clientes deudores (Por meses adeudados)</div>
				<div id="orders_chart" style="width: 986px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @topDebtorsbyMonth, label: "Deuda Bs", legend: true , refresh: 60 %></div>
		</div>
		</div>
	
		
		
	</div>
	</div>
	</div>

<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            if($(this).attr("id")=="select1"){
                $(".box").not(".select1").hide();
                $(".select1").show();
            }
            else if($(this).attr("id")=="select2"){
                $(".box").not(".select2").hide();
                $(".select2").show();
            }
            else if($(this).attr("id")=="select3"){
                $(".box").not(".select3").hide();
                $(".select3").show();
            }

            else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>