
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), graphs_index_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Gráficos</h1>
</div>
</div>

    <div id="menu-element" class="well-separator">
      
        <div class="row">
        <div align="center">
            <div class="col-sm-3"><label>Monto Facturado Vs  Pagado</label></div>
            <div class="col-sm-3"><label>Estado de Cuentas</label></div>
            <div class="col-sm-3"><label>Clientes Deudores</label></div>
            <div class="col-sm-3"><label>Instalaciones</label></div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-3" align="center">
          
                  
                   <%= link_to image_tag('/assets/paid.ico', title: "Monto Pagado Vs Facturado"), graphs_show_amountPaid_path %>
           
          </div>    

          <div class="col-xs-3"> 
            <div  class="right-separator-red" align="center">
        	 <%= link_to image_tag('/assets/accounts.ico', title: "Conceptos de Pago"), graphs_show_accountTypes_path %>
            </div>
          </div>
          <div class="col-xs-3">
          <div align="center">
            
            <%= link_to image_tag('/assets/debtors.ico', title: "Clientes Deudores"), graphs_show_clientsDebtors_path %>
            
          </div>
          </div>
          <div class="col-xs-3">
          <div align="center">


            <%= link_to image_tag('/assets/install.ico', title: "Instalaciones"), graphs_show_facilities_path %>
            
          </div>
          </div>
        </div>
        
    
</div>



	<div align="center">
	<div class="row">
		<div class="col-xs-12">
				<div class="panel" style="width: 986px; background-color: #5e2068; color: #fff; -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75); box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75)">
        
      <div class="panel-heading">Número Instalaciones (Mes actual)</div>
				<div id="orders_chart" style="width: 986px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= column_chart @install, label: "Número", xtitle: "Concepto", ytitle: "Cantidad", refresh: 60, legend: true , legend: true  %></div>
		</div>
		</div>
    <div class="col-xs-12"> 
    <h3>  <%=Settings.meses[@presentMonth]%></h3>
        <table class="table table-striped">
          <thead>
            <tr>
            <th>CodigoProfit </th>
              <th>Cliente</th>
              <th>Pagada</th>
              
              
            </tr>
          </thead>
          <tbody>
          <%@accountreceivables = Accountreceivable.all%>
            <% @accountreceivables.each do |accountreceivable| %>
              <%@rate = Rate.find(accountreceivable.rate_id)%>
                <tr>
                <%if accountreceivable.rate.name == "Instalación" and accountreceivable.month == @presentMonth%>
                  <td><%= accountreceivable.profitNumber %></td>
                    <td><%= accountreceivable.client.name %></td>
          
                    <td><%= "Si" if accountreceivable.paid %><%= "No" if !accountreceivable.paid %></td>
                <%end%>
              </tr>
            <% end %>
            </tbody>
        </table>

      </div>

	</div>
	</div>
