
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), graphs_index_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Gráficos</h1>
</div>
</div>

    <div id="menu-element" class="well-separator">
      
        <div class="row">
        <div align="center">
            <div class="col-sm-3"><label>Monto Facturado Vs  Pagado</label></div>
            <div class="col-sm-3"><label>Estado de Cuentas</label></div>
            <div class="col-sm-3"><label>Clientes Deudores</label></div>
            <div class="col-sm-3"><label>Instalaciones</label></div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-3" align="center">
          
                  
                   <%= link_to image_tag('/assets/paid.ico', title: "Monto Pagado Vs Facturado"), graphs_show_amountPaid_path %>
           
          </div>    

          <div class="col-xs-3"> 
            <div  class="right-separator-red" align="center">
        	 <%= link_to image_tag('/assets/accounts.ico', title: "Conceptos de Pago"), graphs_show_accountTypes_path %>
            </div>
          </div>
          <div class="col-xs-3">
          <div align="center">
            
            <%= link_to image_tag('/assets/debtors.ico', title: "Clientes Deudores"), graphs_show_clientsDebtors_path %>
            
          </div>
          </div>
          <div class="col-xs-3">
          <div align="center">


            <%= link_to image_tag('/assets/install.ico', title: "Instalaciones"), graphs_show_facilities_path %>
            
          </div>
          </div>
        </div>
        
    
</div>


  <div align="center">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel" style="width: 987px;background-color: #5cb85c; color: #fff; -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75); box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75)">
      <div class="panel-heading">Estados de Cuentas (Mes Actual)</div>
     
    
				<div id="orders_chart" style="width: 987px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @accountreceivables_type, label: "Cuentas", xtitle: "Clientes", ytitle: "Nro Cuentas", refresh: 60  %></div>

			</div>
		</div>

    <div class="col-xs-12"> 
    <br><br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Estado</th>
                <th>Número de Cuentas</th>
            </tr>
          </thead>
          <tbody>
          
            <% accounts = @accountreceivables_type  %>
            
              <%for i in 0..2 do%>
                <%unless accounts[i].nil?%>
                 
                  <tr>
                  <td><%= "Facturada" if accounts[i][0].include? "Facturada" %><%= "Incobrable" if accounts[i][0].include? "Incobrable" %><%= "Anulada" if accounts[i][0].include? "Anulada" %></td>
                   
                      <td><%=accounts[i][1]%></td>
                   </tr>
                  <%end%>
            <%end%>
            </tbody>
        </table>

      </div>
      
	</div>
					

		</div>

	
