<h1>Busqueda Avanzada</h1>
<%= simple_form_for(@search_supplier) do |s| %>

	<div class="row">
    	<div class="col-xs-6">
			<%=s.input :keywords, label: "Nombre"%>
		</div>
	
        <div class="col-xs-6">
			<%=s.input :lastname, label: "Apellido"%>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
        <div class="col-xs-6">
			<%=s.input :email, label: "Correo"%>
		</div>
	</div>
	<div ALIGN=right>  
    <br>
	<%= s.button :submit, "Buscar Proveedor"%>  
	<%= link_to 'Atrás', suppliers_path, :class => 'btn btn-default btn'  %>
	</div>
<%end%>

