  <%= simple_form_for(@accountreceivable) do |f| %>
       
          <br>
          <div align="center">
          <div class="row">
             <div class="col-xs-12">
              <div class="field">
                <%= f.input :document, as: :file, label: false, :class => 'btn btn-default btn' %>

              </div>
          </div>
            
          </div>
          <br>
          <br>
          <!--Esto debe acomodarse-->
          <div class="row">
            <%if (current_user.role != "client") %>
              <div class="col-xs-6">
                
                <%= f.association :client, label: "Cliente", 
                    include_blank: "Seleccionar Cliente", error: "Debe seleccionar un Ciente"  %>

              </div>
            <%end%>
            <div class="col-xs-6">
              <%= f.input :date, label: "Fecha Pago"%>
            </div>
           
            
          </div>
          <br>
          <br>
          <%if (current_user.role != "client") %>
            <div class="row">
             <div class="col-xs-6">
                
                <%= f.association :rate, label: "Concepto de Pago", 
                    include_blank: "Seleccionar Concepto de Pago", error: "Debe seleccionar un Concepto"  %>

              </div>

              

              <div class="col-md-6"> 
                  <%= f.input :status, :collection => [['Facturada','Facturada'],['Anulada','Anulada'],['Incobrable','Incobrable']], label: "Estado de la Cuenta",
                    include_blank: "Seleccionar Estado ", error: 'Debe seleccionar el Estado de la Cuenta' %>
              </div>
            </div>
            <br>
            <br>
            <%end%>
          <div class="row">
            <div class="col-md-6">
                  <%= f.input :paymentType, :collection => [['Transferencia','transferencia'],['Deposito','deposito']], label: "Tipo de Pago", 
                  include_blank: "Seleccionar Tipo",error: 'Debe seleccionar el tipo de pago' %>
            </div>
            

              <div class="col-md-6"> 
              <%= f.input :amountPaid,  as: :string, placeholder: 'Monto Pagado', label: "Monto Pagado", error: 'Debe ser Numérico'%>
              </div> 
            
        
            
          </div>
          <br>
          <br>
          <div class="row">
            <%if (current_user.role != "client") %>
              <div class="col-md-6">
                  <%= f.input :month, :collection => [['enero',1],['febrero',2],['marzo',3],['abril',4],['mayo',5],['junio',6],['julio',7],['agosto',8],['septiembre',9],['octubre',10],['noviembre',11],['diciembre',12]], label: "Mes a Pagar ", 
                    include_blank: "Seleccionar Mes",error: 'Debe seleccionar el mes de pago' %>
              </div> 
            <%end%> 
            <div class="col-md-6"> 
              <%= f.input :bank, :collection => [["100%BANCO",'100%banco'],['Mercantil','mercantil'],['Banco Provincial','provincial'],['Banesco','banesco'],['Banco Banplus','banplus'],['Banco Bicentenario','bicentenario']], label: 'Banco', 
                  include_blank: "Seleccionar Banco" %>
            </div>
            
          </div>
         
          <br>
          <br>
          <div class="row">


          <div class="col-md-6"> 
                <%= f.input :paymentComment, placeholder: 'Agregar Comentarios', label: 'Comentarios' %>
            </div>
            
          
          <%if (current_user.role != "client") %>
            <div class="col-md-6"> 
                <%= f.input :transferNumber, placeholder: 'Nro Mercantil', label: "Número Transferencia", error: 'Debe ser Númerico' %>
            </div>
          <%end%>
          </div>
          <br>
          <br>
          <%if (current_user.role != "client") %>
            <div class="row">
              
              <div class="col-md-6"> 
                <%= f.input :profitCode, placeholder: 'Código Profit', label: "Número Control Profit"%>
              </div> 


              <div class="col-md-6">  
                  <%= f.input :profitNumber, placeholder: 'Número  Profit', label: "Número Factura Profit"%>
              </div>
              
            </div>
          <%end%>
          <br>
          <br>  
          <%if (current_user.role != "client") %>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :paid, as: :boolean,  label: "Factura Pagada"%>

              </div>
              <div class="col-md-6"> 
              <%= f.input :transferNumberClient,  placeholder: 'Número Transferencia', label: "Numero Transferencia Cliente"%>
              </div> 
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-6"> 
              <%= f.input :depositNumber,  placeholder: 'Número Deposito', label: "Número de Deposito"%>
              </div> 
              <div class="col-md-6"> 
              <%= f.input :checkNumber,  placeholder: 'Número Cheque', label: "Número de Cheque"%>
              </div> 
            </div>
            <br>
            <br>
            <%end%>
<div ALIGN=right>
        <div class="actions">
        <%if current_user.role != "client"%>
        <%= f.button :submit, "Crear Cuenta", data: { confirm: '¿Estas Seguro?' }  %>
          <%= link_to 'Atrás', accountreceivables_path, :class => 'btn btn-default btn' %>
          <%else%>
          <%= f.button :submit, "Crear Cuenta"%>
          <%= link_to 'Atrás', accountreceivables_path, :class => 'btn btn-default btn'  %>
          <%end%>


        </div>
</div>
<br>

  <% end %>