<div ALIGN=center>
<%= simple_form_for(@accountreceivable, html: { class: 'form-inline' }) do |f| %>
  <% if @accountreceivable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accountreceivable.errors.count, "error") %> prohibited this accountreceivable from being saved:</h2>

      <ul>
      <% @accountreceivable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
  <div class="field">
    <%= f.label :"Código Profit", placeholder: 'Código Profit', label: 'Código Profit' %><br>
    <%= f.input :profitCode %>
  </div>
    
    <%= f.input :date, placeholder: 'Fecha', label: 'Fecha' %>
  </div>
  <div class="field">
  <%= f.label :"Seleccione Cliente" %><br>
  <%= f.collection_select :client_id, Client.all, :id, :rif, options ={:prompt => "Select a user"} %>
</div>
  <div class="field">
    <%= f.label :Concepto %><br>
    <%= f.text_field :concept %>
  </div>
  <div class="field">
    <%= f.label :Iva %><br>
    <%= f.number_field :retentioniva %>
  </div>
  <div class="field">
    <%= f.label :Isrl %><br>
    <%= f.number_field :retentionisrl %>
  </div>
  <div class="field">
    <%= f.label :Total %><br>
    <%= f.number_field :total %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Cuenta"%>
  </div>
<% end %>
<div ALIGN=center>
