<div ALIGN=center>
<%= form_for(@accountreceivable) do |f| %>
  <% if @accountreceivable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accountreceivable.errors.count, "error") %> prohibited this accountreceivable from being saved:</h2>

      <ul>
      <% @accountreceivable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
  <%= f.label :"Seleccione Cliente" %><br>
  <%= f.collection_select :client_id, Client.all, :id, :name %>
</div>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :Total %><br>
    <%= f.number_field :total %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Cuenta"%>
  </div>
<% end %>
<div ALIGN=center>
