<div ALIGN=center>
<%= form_for(@accountreceivable) do |f| %>
  <% if @accountreceivable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accountreceivable.errors.count, "error") %> prohibited this accountreceivable from being saved:</h2>

      <ul>
      <% @accountreceivable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
  <%= f.label :"Seleccione Cliente" %><br>
  <%= f.collection_select :client_id, Client.all, :id, :rif, options ={:prompt => "Select a user"} %>
</div>
chao
 <%=params[:client_id]%>
hola
<div class="field">
    <%= f.label :"Número Factura" %><br>
    <%= f.number_field :invoicenumber %>
  </div>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :Iva %><br>
    <%= f.number_field :retentioniva %>
  </div>
  <div class="field">
    <%= f.label :Isrl %><br>
    <%= f.number_field :retentionisrl %>
  </div>
  <div class="field">
    <%= f.label :Total %><br>
    <%= f.number_field :total %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Cuenta"%>
  </div>
<% end %>
<div ALIGN=center>
