
  <%if current_user.role == "client" %>
  <h1>Registro de Pagos</h1>
  <%end%>

  <%if current_user.role != "client" %>
  <h1>Cuentas por Cobrar</h1>
    
  
   <div id="menu-element" class="well-separator">
      
        <div class="row">
        <div align="center">
            <div class="col-sm-4"><label>Buscar</label></div>
            <div class="col-sm-4"><label>Importar Cuentas</label></div>
            <div class="col-sm-4"><label>Exportar Cuentas</label></div>
            </div>
        </div>
   
        <div class="row">
          <div class="col-xs-4">
          <div class="form-group bar-search">
            <!--Busqueda de clientes por nombre-->
            <%= hidden_field_tag :direction, params[:search]%>
            <%= hidden_field_tag :sort, params[:sort]%>
            
            <%= form_tag accountreceivables_path, :method => 'get' do %>
             
                <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Código'  %>
                <span class="loop-icon">
                <span class="add-icon"><%=image_submit_tag("loop2.ico")%></span>
                  <span class="add-icon"><%= link_to image_tag('/assets/advanced.ico'), new_search_accountreceivable_path %></span>
             
                </span>
                
            <% end %>
            </div>
          </div>    

          <div class="col-xs-4"> 
            <div  class="right-separator-red" align="center">
              <%= form_tag import_accountreceivables_path, multipart: true do %>
                
              <span class="btn btn-default active btn-file">
                  Seleccionar Archivo
                  <%= file_field_tag :file %>
              </span>
                <%=image_submit_tag("import.ico")%>
              <% end %>
            </div>
          </div>
          <div class="col-xs-4">
          <div align="center">
            <%= link_to image_tag('/assets/pdf.ico'), "accountreceivables.pdf", :format => 'pdf', target: :_blank  %>
            <%= link_to image_tag('/assets/excel.ico'), accountreceivables_path(format: "xls")  %>
            
          </div>
          </div>
        </div>
        
    
</div>
<%end%> <table class="table table-striped table-hover">
 
    <tr>
    <%if current_user.role != "client"%>
      <th><%=sortable "profitNumber", "Numero de Factura"%> </th>
      <th>Cliente</th>
      <th><%=sortable "paid", "Pagada"%></th>
      <th><%= sortable "date", "Fecha"%></th>
      <th><%= sortable "month", "Mes"%></th>
      <th><%=sortable "amountPaid", "Monto Pagado"%></th>
    <%else%>
      <th><%=sortable "profitNumber", "Numero de Factura"%> </th>
      <th><%=sortable "month", "Mes a Pagar"%></th>
      <th><%=sortable "paid", "Pagada"%></th>
      <th><%= sortable "date", "Fecha"%></th>
      <th><%=sortable "amountPaid", "Monto Pagado"%></th>
    <%end%>
    <th colspan="3"></th>
      
      
      
    </tr>
 

  <tbody>
    <%@accountsNumber = 0%>
    <% @accountreceivables.each do |accountreceivable| %>
      <tr>
      <%client = Client.find(accountreceivable.client_id)%>
      <%accounts = false%>
      <%@clients = Client.all%>
      <%client = Client.find(accountreceivable.client_id)%>
      <%@rate = Rate.find(accountreceivable.rate_id)%>
      
      
        <%client.emails.each do |email|%>
          <%if current_user.email == email.email%>
            <%accounts = true%>

            <%@accountsNumber = @accountsNumber + 1%>
          <%end%>
        <%end%>
      
      
      
       
        <%if current_user.role != "client" or (current_user.role == "client" and accounts) %>

          <%if current_user.role != "client"%>
            <th><%= accountreceivable.profitNumber %></th>
            <td><%= accountreceivable.client.name %></td>
            <th><%= "Si" if accountreceivable.paid %><%= "No" if !accountreceivable.paid %></th>
            <td><%= accountreceivable.date %></td>
            <td><%= accountreceivable.month %></td>
            <td><%= number_to_currency(accountreceivable.amountPaid, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%></td>
          <%else%>
          <th><%= accountreceivable.profitNumber %></th>
            <td><%= accountreceivable.month %></td>
            <td><%= accountreceivable.paid%></td>
            <td><%= accountreceivable.date %></td>
            <td><%= number_to_currency(accountreceivable.amountPaid, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%></td>
          <%end%>
          
          
          
          
          <%if current_user.role != "client" or (current_user.role == "client" and accountreceivable.paid) %>
            <td><%= link_to image_tag('/assets/showeye.ico'), accountreceivable %></td>
          <%end%>
          <%if current_user.role != "client" or (current_user.role == "client" and !accountreceivable.paid) %>
            <td><%= link_to image_tag('/assets/pencil.ico'), edit_accountreceivable_path(accountreceivable) %></td>
          <%end%>
          <%if current_user.role != "client" %>
            <td><%= link_to image_tag('/assets/delete.ico'), accountreceivable, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
          <%end%>
        
        <%end%>
        
      </tr>
      
    <% end %>
    <%if current_user.role == "client" and @accountsNumber == 0%>
          <td>No Hay Cuentas por Cobrar</td>
    <%end%>

    
  </tbody>
</table>
  <%if current_user.role != "client" %>
    <div align="center">
    <%= will_paginate %>
    </div>
    <br>

    <div ALIGN=right>
    <%= link_to 'Nueva Cuenta', new_accountreceivable_path, :class => 'btn btn-default btn'  %>
    </div>
    <br>
  <%end%>
