
<p id="notice"><%= notice %></p>

<h1>Cuentas por Cobrar</h1>
<div class="col-xs-4">
        <!--Busqueda de clientes por nombre-->
        <%= hidden_field_tag :direction, params[:search]%>
        <%= hidden_field_tag :sort, params[:sort]%>
        <label>Nombre</label>
        <%= form_tag accountreceivables_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Buscar Cuenta", :name => nil, :class => 'btn btn-default btn'   %>
          </p>
        <% end %>
      </div>    
    </div> 
<table class="table table-striped">
  <thead>
    <tr>
    
    <th>Cliente</th>
    <th><%= sortable "date", "Fecha"%></th>
      
      <th><%= sortable "concept", "Concepto"%></th>
      

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountreceivables.each do |accountreceivable| %>
      <tr>
      
      
        <td><%= accountreceivable.client.name %></td>
        <td><%= accountreceivable.date %></td>
        
        <td><%= accountreceivable.concept %></td>
        
        <td><%= link_to 'Mostrar', accountreceivable, :class => 'btn btn-success btn'  %></td>
        <td><%= link_to 'Editar', edit_accountreceivable_path(accountreceivable), :class => 'btn btn-warning btn'  %></td>
        <td><%= link_to 'Eliminar', accountreceivable, method: :delete, data: { confirm: '¿Estas Seguro?' },:class => 'btn btn-danger btn' %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<%= will_paginate %>
<br>

<div ALIGN=right>
<%= link_to 'Nueva Cuenta', new_accountreceivable_path, :class => 'btn btn-default btn'  %>
</div>
<br>
