
<p id="notice"><%= notice %></p>

<h1>Cuentas por Cobrar</h1>
  <%if current_user.role != "client" %>
    <div class="row">
      <div class="col-xs-4">
        <!--Busqueda de clientes por nombre-->
        <%= hidden_field_tag :direction, params[:search]%>
        <%= hidden_field_tag :sort, params[:sort]%>
        <label>Nombre</label>
        <%= form_tag accountreceivables_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Buscar Cuenta", :name => nil, :class => 'btn btn-default btn'   %>
          </p>
        <% end %>
      </div> 
      <div class="col-xs-4">
        <%= form_tag import_accountreceivables_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
        <%end%>
      </div>   
    </div>
  <%end%> 
<table class="table table-striped">
  <thead>
    <tr>
    <th><%=sortable "profitNumber", "Numero de Factura Profit"%> </th>
    <%if current_user.role != "client"%>
      <th>Cliente</th>
    <%else%>
      <th><%=sortable "month", "Mes a Pagar"%></th>
    <%end%>
    <th><%= sortable "date", "Fecha"%></th>
      <th><%=sortable "paid", "Pagada"%></th>
      <th><%= sortable "concept", "Concepto"%></th>
      
      <th><%=sortable "amountPaid", "Monto Pagado"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@accountsNumber = 0%>
    <% @accountreceivables.each do |accountreceivable| %>
      <tr>
      <%client = Client.find(accountreceivable.client_id)%>
      <%accounts = false%>
      <%@clients = Client.all%>
      <%client = Client.find(accountreceivable.client_id)%>
      
      
        <%client.emails.each do |email|%>
          <%if current_user.email == email.email%>
            <%accounts = true%>

            <%@accountsNumber = @accountsNumber + 1%>
          <%end%>
        <%end%>
      
      
      
       
        <%if current_user.role != "client" or (current_user.role == "client" and accounts) %>

          <%if current_user.role != "client"%>
          <th><%= accountreceivable.profitNumber %></th>
            <td><%= accountreceivable.client.name %></td>
          <%else%>
            <td><%= accountreceivable.month %></td>
          <%end%>
          <td><%= accountreceivable.paid%></td>
          <td><%= accountreceivable.date %></td>
          <td><%= accountreceivable.paid %></td>
          <td><%= accountreceivable.constant.name %></td>
          <td><%= accountreceivable.amountPaid %></td>
          <%if current_user.role != "client" or (current_user.role == "client" and accountreceivable.paid == "si") %>
            <td><%= link_to 'Ver Pago', accountreceivable, :class => 'btn btn-success btn'%></td>
          <%end%>
          <%if current_user.role != "client" or (current_user.role == "client" and accountreceivable.paid == "no") %>
            <%if current_user.role != "client"%>
              <td><%= link_to 'Editar Pago', edit_accountreceivable_path(accountreceivable), :class => 'btn btn-warning btn'  %></td>
            <%end%>
            <%if current_user.role == "client"%>
              <td><%= link_to 'Registrar Pago', edit_accountreceivable_path(accountreceivable), :class => 'btn btn-warning btn'  %></td>
            <%end%>
          <%end%>
          <%if current_user.role != "client" %>
            <td><%= link_to 'Eliminar', accountreceivable, method: :delete, data: { confirm: '¿Estas Seguro?' },:class => 'btn btn-danger btn' %></td>
          <%end%>
        
        <%end%>
        
      </tr>
      
    <% end %>
    <%if current_user.role == "client" and @accountsNumber == 0%>
          <td>No Hay Cuentas por Cobrar</td>
    <%end%>

    
  </tbody>
</table>
  <%if current_user.role != "client" %>
    <div align="center">
    <%= will_paginate %>
    </div>
    <br>

    <div ALIGN=right>
    <%= link_to 'Nueva Cuenta', new_accountreceivable_path, :class => 'btn btn-default btn'  %>
    </div>
    <br>
  <%end%>
