<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">numeroControlProfit</Data></Cell>
        <Cell><Data ss:Type="String">rifCliente</Data></Cell>
        <Cell><Data ss:Type="String">nombreCliente</Data></Cell>
        <Cell><Data ss:Type="String">mes</Data></Cell>
        
        <Cell><Data ss:Type="String">codigoProfit</Data></Cell>
        <Cell><Data ss:Type="String">banco</Data></Cell>
        
        <Cell><Data ss:Type="String">conceptoPago</Data></Cell>
         <Cell><Data ss:Type="String">estadoCuenta</Data></Cell>
         <Cell><Data ss:Type="Decimal">montoPagado</Data></Cell>
        <Cell><Data ss:Type="String">tipoPago</Data></Cell>
        <Cell><Data ss:Type="String">comentarioPago</Data></Cell>
      </Row>
      <%@accountreceivables = Accountreceivable.all%>
    <% @accountreceivables.each do |accountreceivable| %>
      <Row>
      <%@paid = "Si" if accountreceivable.paid%><%@paid = "No" if !accountreceivable.paid%>
      <Cell><Data ss:Type="String"><%= accountreceivable.profitNumber %></Data></Cell>
      <Cell><Data ss:Type="String"><%= accountreceivable.client.rif %></Data></Cell>
      <Cell><Data ss:Type="String"><%= accountreceivable.client.name %></Data></Cell>
      <Cell><Data ss:Type="String"><%= Settings.meses[accountreceivable.month] %></Data></Cell>
        
        <Cell><Data ss:Type="String"><%= accountreceivable.profitCode %></Data></Cell>
        <Cell><Data ss:Type="String"><%= accountreceivable.bank %></Data></Cell>
        <Cell><Data ss:Type="String"><%= accountreceivable.rate.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= accountreceivable.status %></Data></Cell>
        <Cell><Data ss:Type="decimal"><%= accountreceivable.amountPaid %></Data></Cell>
        <Cell><Data ss:Type="String"><%= accountreceivable.paymentType %></Data></Cell>
        
        
        
        <Cell><Data ss:Type="String"><%= accountreceivable.paymentComment %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>  

