
<p id="notice"><%= notice %></p>

<h1>Cuentas por Cobrar</h1>
<div ALIGN=center>
<table class="table table-striped">
  <thead>
    <tr>
    <th>Código</th>
    <th>Codigo Profit</th>
    <th>Fecha</th>
      <th>Cliente</th>
      <th>Concepto</th>
      <th>Retencion de IVA</th>
      <th>Retencion de ISRL</th>
      <th>Total</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountreceivables.each do |accountreceivable| %>
      <tr>
      <td><%= accountreceivable.code %></td>
      <td><%= accountreceivable.profitCode %></td>
      
        <td><%= accountreceivable.date %></td>
        <td><%= accountreceivable.client.name %></td>
        <td><%= accountreceivable.concept %></td>
        <td><%= accountreceivable.retentioniva %></td>
        <td><%= accountreceivable.retentionisrl %></td>
        <td><%= accountreceivable.total %></td>
        <td><%= link_to 'Mostrar', accountreceivable, :class => 'btn btn-success btn'  %></td>
        <td><%= link_to 'Editar', edit_accountreceivable_path(accountreceivable), :class => 'btn btn-primary btn'  %></td>
        <td><%= link_to 'Eliminar', accountreceivable, method: :delete, data: { confirm: '¿Estas Seguro?' },:class => 'btn btn-danger btn' %></td>
      </tr>
    <% end %>
    <%if @accountreceivables.size == 0%>
         <td>No Hay Cuentas por Cobrar</td>
      <%end%>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Cuenta', new_accountreceivable_path %>
</div>
