<div ALIGN=center>
<p id="notice"><%= notice %></p>

<h1>Cuentas por Cobrar</h1>

<table>
  <thead>
    <tr>
    <th>Fecha</th>
      <th>Cliente</th>
      <th>Numero de Factura</th>
      <th>Descripcion</th>
      <th>Retencion de IVA</th>
      <th>Retencion de ISRL</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountreceivables.each do |accountreceivable| %>
      <tr>
      <td><%= accountreceivable.date %></td>
        <td><%= accountreceivable.client.name %></td>
        <td><%= accountreceivable.invoicenumber %></td>
        <td><%= accountreceivable.descripcion %></td>
        <td><%= accountreceivable.retentioniva %></td>
        <td><%= accountreceivable.retentionisrl %></td>
        <td><%= accountreceivable.total %></td>
        <td><%= link_to 'Mostrar', accountreceivable %></td>
        <td><%= link_to 'Editar', edit_accountreceivable_path(accountreceivable) %></td>
        <td><%= link_to 'Eliminar', accountreceivable, method: :delete, data: { confirm: '¿Estas Seguro?' } %></td>
      </tr>
    <% end %>
    <%if @accountreceivables.size == 0%>
         <td>No Hay Cuentas por Cobrar</td>
      <%end%>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Cuenta', new_accountreceivable_path %>
<%= link_to 'Menú Principal', controller: 'principal' %>
</div>
