
<p id="notice"><%= notice %></p>

<h1>Cuentas por Cobrar</h1>
    <div class="row">
      <div class="col-xs-4">
        <!--Busqueda de clientes por nombre-->
        <%= hidden_field_tag :direction, params[:search]%>
        <%= hidden_field_tag :sort, params[:sort]%>
        <label>Nombre</label>
        <%= form_tag accountreceivables_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Buscar Cuenta", :name => nil, :class => 'btn btn-default btn'   %>
          </p>
        <% end %>
      </div> 
      <div class="col-xs-4">
        <%= form_tag import_accountreceivables_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
      </div>   
    </div> 
<table class="table table-striped">
  <thead>
    <tr>
    
    <th>Cliente</th>
    <th><%= sortable "date", "Fecha"%></th>
      
      <th><%= sortable "concept", "Concepto"%></th>
      
      <th>Cuenta Elemetrica</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountreceivables.each do |accountreceivable| %>
      <tr>
      <%client = Client.find(accountreceivable.client_id)%>
       
        <%if current_user.role != "client" or (current_user.role == "client" and current_user.email == client.email) %>
          <td><%= accountreceivable.client.name %></td>
          <td><%= accountreceivable.date %></td>
          <td><%= accountreceivable.concept %></td>
          <td><%= accountreceivable.elemetricaAccount %></td>
          <%if current_user.role != "client" or (current_user.role == "client" and accountreceivable.paid == "si") %>
            <td><%= link_to 'Ver Pago', accountreceivable, :class => 'btn btn-success btn'%></td>
          <%end%>
          <%if current_user.role != "client" or (current_user.role == "client" and accountreceivable.paid == "no") %>
            <td><%= link_to 'Registrar Pago', edit_accountreceivable_path(accountreceivable), :class => 'btn btn-warning btn'  %></td>
          <%end%>
          <%if current_user.role != "client" %>
            <td><%= link_to 'Eliminar', accountreceivable, method: :delete, data: { confirm: '¿Estas Seguro?' },:class => 'btn btn-danger btn' %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
    
  </tbody>
</table>
<div align="center">
<%= will_paginate %>
</div>
<br>

<div ALIGN=right>
<%= link_to 'Nueva Cuenta', new_accountreceivable_path, :class => 'btn btn-default btn'  %>
</div>
<br>
