<h1>Cuentas por Cobrar</h1>
<table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
    <tr>
		<th style="width: 200px;"> Numero de Factura </th>
        <th style="width: 200px;"> Cliente </th>
        <th style="width: 200px;"> Pagada </th>
        <th style="width: 200px;"> Fecha de Pago </th>
        <th style="width: 200px;"> Mes </th>
        <th style="width: 200px;"> Monto Pagado </th>
    </tr>
    <%@accountreceivables = Accountreceivable.all%>
    <% @accountreceivables.each do |accountreceivable| %>
    <tr>
        <td><%= accountreceivable.profitNumber %></td>
        <td><%= accountreceivable.client.name %></td>
        <td><%= "Si" if accountreceivable.paid %><%= "No" if !accountreceivable.paid %></td>
        <td><%= accountreceivable.date %></td>
        <td><%= accountreceivable.month %></td>
        <td><%= number_to_currency(accountreceivable.amountPaid, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%></td>
	<%end%>
    <%if @accountreceivables.size == 0%>
      No Hay  Cuentas por Cobrar
    <%end%>
  </table>



