<div ALIGN=center>
<p id="notice"><%= notice %></p>
<h1>Cuenta por Cobrar</h1>
<br>
<p>
  <strong>C칩digo:</strong>
  <%= @accountreceivable.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @accountreceivable.date %>
</p>
<p>
  <strong>Cuenta por Cobrar:</strong>
  <%= @accountreceivable.client.name %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @accountreceivable.concept %>
</p>
<p>
  <strong>Retenci칩n IVA:</strong>
  <%= @accountreceivable.retentioniva %>
</p>
 <p>
  <strong>Retenci칩n ISRL:</strong>
  <%= @accountreceivable.retentionisrl %>
</p>
 
<p>
  <strong>Total:</strong>
  <%= @accountreceivable.total %>
</p>
 
 <%# link_to 'Edit', edit_accountreceivable_path(@accountreceivable) %> 

<%= link_to 'Atr치s', accountreceivables_path %>
<div ALIGN=center>
