
<p id="notice"><%= notice %></p>
<h1>Cuenta por Cobrar</h1>
<br>
<div ALIGN=center>

<p>
  <strong>Fecha:</strong>
  <%= @accountreceivable.date %>
</p>
<p>
  <strong>Cuenta por Cobrar:</strong>
  <%= @accountreceivable.client.name %>
</p>


<p>
<strong>Descuentos que posee el Cliente:</strong><br>
<%client = Client.find(@accountreceivable.client_id)%>

 <%client.discounts.each do |discount|%>
  <%=discount.name %>: <%= discount.percentage%>%
  <br>

  <%end%>

 </p>
 <p>
  <strong>Concepto:</strong>
  <%= @accountreceivable.concept %>: <%= @accountreceivable.baseAmount %>
</p>
 
<p>
  <strong>Monto con Descuento sin Iva:</strong>
  <%= @accountreceivable.amountWithoutTax %>
</p>

<p>
  <strong>Monto con Descuento con Iva:</strong>
  <%= @accountreceivable.amountWithtTax %>
</p>
 <p>
  <strong>Total Retenciones:</strong>
  <%= @accountreceivable.totalRetentions %>
</p>
<p>
  <strong>Total a Percibir:</strong>
  <%= @accountreceivable.totalAmountPerceive %>
</p>
<p>
  <strong>Factura Pagada:</strong>
  <%= @accountreceivable.paid %>
</p>
<p>
  <strong>Estado de Pago:</strong>
  <%= @accountreceivable.status %>
</p>
<p>
  <strong>Tipo de Pago:</strong>
  <%= @accountreceivable.paymentType %>
</p>
<p>
  <strong>Comentarios:</strong>
  <%= @accountreceivable.paymentComment %>
</p>
<p>
  <strong>Numero de Transferencia:</strong>
  <%= @accountreceivable.transferNumber %>
</p>
<p>
  <strong>Numero de Cuenta:</strong>
  <%= @accountreceivable.accountNumber %>
</p>
<p>
  <strong>Numero de transferencia:</strong>
  <%= @accountreceivable.profitNumber %>
</p>
<p>
  <strong>Numero de transferencia:</strong>
  <%= @accountreceivable.profitCode %>
</p>
<p>
  <strong>Numero de transferencia:</strong>
  <%= @accountreceivable.bank %>
</p>

 <%# link_to 'Edit', edit_accountreceivable_path(@accountreceivable) %> 

<div ALIGN=right>
<%= link_to 'Atrás', accountreceivables_path, :class => 'btn btn-default btn' %>
</div>

