<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), accountreceivables_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Cuenta por Cobrar</h1>
</div>
</div>


<br>
<div ALIGN=center>
  <table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
    <tr>
      <td>
        <p>
        <div id="accountreceivables">
          <strong>Comprobante:</strong>
          <% if (@accountreceivable.document.file) and (@accountreceivable.document.file.filename).include? ".pdf"%>
            <%= image_tag(@accountreceivable.document_url.to_s) %>
          <%end%>
          </div>
        </p>
      </td>
      <td>
        <p>
          <strong>Fecha de Pago:</strong>
          <%= @accountreceivable.date %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Cuenta por Cobrar a:</strong>
          <%= @accountreceivable.client.name %>
        </p>
      </td>
      <td>
        <p>
          <strong>Descuentos que posee el Cliente:</strong><br>
          <%client = Client.find(@accountreceivable.client_id)%>

           <%client.discounts.each do |discount|%>
            <%=discount.name %>: 
            <%= number_to_currency(discount.percentage, unit: "", separator: ",", delimiter: ".", precision: 2)%>%
            <br>
            <%end%>
            <%if (client.specialDiscount).nil?%>
            <%else%>
            Descuento Especial:
            
            <%= number_to_currency(client.specialDiscount, unit: "", separator: ",", delimiter: ".", precision: 2)%>%
            <%end%>

        </p>
      </td>
    </tr>
    <tr>
      <td>
         <p>
          <strong>Número de locales:</strong>
          <%= @accountreceivable.client.localAmount %>
        </p>
      </td>
      <td>
         <p>
          <strong>Concepto:</strong><br>

          <% @rate = Rate.find(@accountreceivable.rate_id) %>
          <%= @rate.name %>:
          <%= number_to_currency(@rate.amount, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
        </p>
      </td>
    </tr>
    <tr>
      <td>     
        <p>
          <strong>Monto con Descuento sin Iva:</strong>
          <%= number_to_currency(@accountreceivable.amountWithoutTax, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
        </p>
      </td>
      <td>
        <p>
          <strong>Monto con Descuento con Iva:</strong>
          <%= number_to_currency(@accountreceivable.amountWithTax, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
        </p>
      </td>
    </tr>
    <tr>
      <td>
         <p>
          <strong>Total Retenciones:</strong>
          <%= number_to_currency(@accountreceivable.totalRetentions, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
        </p>
      </td>
      <td>
        <p>
            <strong>Total a Percibir:</strong>
            <%= number_to_currency(@accountreceivable.totalAmountPerceive, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Factura Pagada:</strong>
          <%= "Si" if @accountreceivable.paid %> <%= "No" if !@accountreceivable.paid %>
        </p>
      </td>
      <td>
        <p>
          <strong>Estado de Pago:</strong>
          <%= @accountreceivable.status %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Tipo de Pago:</strong>
          <%= @accountreceivable.paymentType %>
        </p>
      </td>
      <td>
        <p>
          <strong>Monto Pagado:</strong>
          <%= number_to_currency(@accountreceivable.amountPaid, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
            <strong>Diferencia:</strong>
            <%= number_to_currency(@accountreceivable.accountBalance, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
        </p>
        <p>
          <strong>Banco:</strong>
          <%= @accountreceivable.bank %>
        </p>
      </td>
      <td>
        <p>
          <strong>Mes:</strong>
          <%= @accountreceivable.month %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Comentarios:</strong>
          <%= @accountreceivable.paymentComment %>
        </p>
      </td>
      <td>
        <%if @accountreceivable.clientAccount != '0'%>
        <p>
          <strong>Cuenta Debitada:</strong>
          <%= @accountreceivable.clientAccount %>
        </p>

        <%end%>
      </td>
    </tr>
    
        <p>
        <%if (current_user.role != "client") %>
    <tr>
      <td>     
          <p>
            <strong>Número de Transaccion Mercantil:</strong>
            <%= @accountreceivable.transferNumber %>
          </p>
      </td>
      <td>
          <%if @accountreceivable.elemetricaAccount != '0'%>
          <p>
            <strong>Cuenta a Transferir:</strong>
            <%= @accountreceivable.elemetricaAccount %>
          </p>
      </td>
    </tr>
    <tr>
      <td> 
          <%end%>
          <p>
            <strong>Número Profit:</strong>
            <%= @accountreceivable.profitNumber %>
          </p>
      </td>
      <td>
          <p>
            <strong>Código Profit:</strong>
            <%= @accountreceivable.profitCode %>
          </p>
      </td>
    </tr>
          <%if @accountreceivable.transferNumberClient != '0'%>
    <tr>
      <td>
          <p>
            <strong>Número de transferencia:</strong>
            <%= @accountreceivable.transferNumberClient %>
          </p>
          <%end%>
      </td>
      <td>
          <p>
            <strong>Número de Deposito:</strong>
            <%= @accountreceivable.depositNumber %>
          </p>
      </td>
    </tr>
    <tr>
      <td>
          <p>
            <strong>Número de Cheque:</strong>
            <%= @accountreceivable.checkNumber %>
          </p>
      </td>
    </tr>
        <%end%>

       <%# link_to 'Edit', edit_accountreceivable_path(@accountreceivable) %> 
  </table>
</div>

