<div ALIGN=center>
<p id="notice"><%= notice %></p>
<h1>Cuenta por Cobrar</h1>
<br>
<p>
  <strong>Fecha:</strong>
  <%= @accountreceivable.date %>
</p>
<p>
  <strong>Cuenta por Cobrar:</strong>
  <%= @accountreceivable.client.name %>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @accountreceivable.invoicenumber %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @accountreceivable.descripcion %>
</p>
<p>
  <strong>Retención de IVA:</strong>
  <%= @accountreceivable.retentioniva %>
</p>
 <p>
  <strong>Retención de ISRL:</strong>
  <%= @accountreceivable.retentionisrl %>
</p>
 
<p>
  <strong>Total:</strong>
  <%= @accountreceivable.total %>
</p>
 
 <%# link_to 'Edit', edit_accountreceivable_path(@accountreceivable) %> 

<%= link_to 'Atrás', accountreceivables_path %>
<div ALIGN=center>
