
<p id="notice"><%= notice %></p>
<h1>Cuenta por Cobrar</h1>
<br>
<div ALIGN=center>
<p>
  <strong>C칩digo:</strong>
  <%= @accountreceivable.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @accountreceivable.date %>
</p>
<p>
  <strong>Cuenta por Cobrar:</strong>
  <%= @accountreceivable.client.name %>
</p>

<p>
  <strong>Monto Base:</strong>
  <%= @accountreceivable.baseAmount %>
</p>
<p>
  <strong>Concepto:</strong>
  <%= @accountreceivable.concept %>
</p>
<p>
  <strong>Retenci칩n IVA:</strong>
  <%= @accountreceivable.retentionIva %>
</p>
 <p>
  <strong>Retenci칩n ISRL:</strong>
  <%= @accountreceivable.retentionIsrl %>
</p>
 
<p>
  <strong>Monto sin Iva:</strong>
  <%= @accountreceivable.amountWithoutTax %>
</p>

<p>
  <strong>Monto con Iva:</strong>
  <%= @accountreceivable.amountWithtTax %>
</p>
 <p>
  <strong>Total Retenciones:</strong>
  <%= @accountreceivable.totalRetentions %>
</p>
<p>
  <strong>Total Retenciones:</strong>
  <%= @accountreceivable.totalAmountPerceive %>
</p>
<p>
  <strong>Estado de Pago:</strong>
  <%= @accountreceivable.status %>
</p>
<p>
  <strong>Tipo de Pago:</strong>
  <%= @accountreceivable.paymentType %>
</p>
<p>
  <strong>Comentarios:</strong>
  <%= @accountreceivable.paymentComment %>
</p>
<p>
  <strong>Numero de Transferencia:</strong>
  <%= @accountreceivable.transferNumber %>
</p>
<p>
  <strong>Numero de Cuenta:</strong>
  <%= @accountreceivable.accountNumber %>
</p>
<p>
  <strong>Numero de transferencia:</strong>
  <%= @accountreceivable.profitNumber %>
</p>
<p>
  <strong>Numero de transferencia:</strong>
  <%= @accountreceivable.profitCode %>
</p>
<p>
  <strong>Numero de transferencia:</strong>
  <%= @accountreceivable.bank %>
</p>

 <%# link_to 'Edit', edit_accountreceivable_path(@accountreceivable) %> 

<%= link_to 'Atr치s', accountreceivables_path %>
<div ALIGN=center>
