
<p id="notice"><%= notice %></p>
<h1>Cuenta por Cobrar</h1>
<br>
<div ALIGN=center>
<p>
<div id="accountreceivables">
  <strong>Comprobante:</strong>
  
  
  <%= image_tag(@accountreceivable.document_url.to_s) %>
  </div>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @accountreceivable.date %>
</p>
<p>
  <strong>Cuenta por Cobrar a:</strong>
  <%= @accountreceivable.client.name %>
</p>


<p>
<strong>Descuentos que posee el Cliente:</strong><br>
<%client = Client.find(@accountreceivable.client_id)%>

 <%client.discounts.each do |discount|%>
  <%=discount.name %>: <%= discount.percentage%>%
  <br>

  <%end%>

 </p>
 <p>
  <strong>Número de locales:</strong>
  <%= @accountreceivable.client.localAmount %>
</p>
 <p>
  <strong>Concepto:</strong>

  <% @constant = Constant.find(@accountreceivable.constant_id) %>
  <%= @constant.name %> - <%= (@constant.amount).gsub('.', ',') %>
</p>
 
<p>
  <strong>Monto con Descuento sin Iva:</strong>
  <%= (@accountreceivable.amountWithoutTax).to_s.gsub('.', ',') %>
</p>

<p>
  <strong>Monto con Descuento con Iva:</strong>
  <%= (@accountreceivable.amountWithtTax).to_s.gsub('.', ',') %>
</p>
 <p>
  <strong>Total Retenciones:</strong>
  <%= (@accountreceivable.totalRetentions).to_s.gsub('.', ',') %>
</p>
<p>
    <strong>Total a Percibir:</strong>
    <%= (@accountreceivable.totalAmountPerceive).to_s.gsub('.', ',') %>
  </p>
<p>
  <strong>Factura Pagada:</strong>
  <%= @accountreceivable.paid %>
</p>
<p>
  <strong>Estado de Pago:</strong>
  <%= @accountreceivable.status %>
</p>
<p>
  <strong>Tipo de Pago:</strong>
  <%= @accountreceivable.paymentType %>
</p>
<p>
  <strong>Monto Pagado:</strong>
  <%= (@accountreceivable.amountPaid).gsub('.', ',') %>
</p>
<p>
    <strong>Diferencia:</strong>
    <%= (@accountreceivable.accountBalance).to_s.gsub('.', ',') %> 
  </p>
<p>
  <strong>Banco:</strong>
  <%= @accountreceivable.bank %>
</p>
<p>
  <strong>Mes:</strong>
  <%= @accountreceivable.month %>
</p>
<p>
  <strong>Comentarios:</strong>
  <%= @accountreceivable.paymentComment %>
</p>

<p>
  <strong>Cuenta Debitada:</strong>
  <%= @accountreceivable.clientAccount %>
</p>
<p>
<%if (current_user.role != "client") %>
  
  <p>
    <strong>Numero de Transaccion Mercantil:</strong>
    <%= @accountreceivable.transferNumber %>
  </p>
  <p>
    <strong>Cuenta a Transferir:</strong>
    <%= @accountreceivable.elemetricaAccount %>
  </p>
  <p>
    <strong>Número Profit:</strong>
    <%= @accountreceivable.profitNumber %>
  </p>
  <p>
    <strong>Código Profit:</strong>
    <%= @accountreceivable.profitCode %>
  </p>
  <p>
    <strong>Número de transferencia:</strong>
    <%= @accountreceivable.transferNumberClient %>
  </p>
  <p>
    <strong>Número de Deposito:</strong>
    <%= @accountreceivable.depositNumber %>
  </p>
  <p>
    <strong>Número de Cheque:</strong>
    <%= @accountreceivable.checkNumber %>
  </p>
<%end%>

 <%# link_to 'Edit', edit_accountreceivable_path(@accountreceivable) %> 

<div ALIGN=right>
<%if current_user.role == "client"%>
<%= link_to 'Atrás', accountreceivables_path, :class => 'btn btn-default btn' %>
<%else%>
<%= link_to 'Atrás', accountreceivables_path, :class => 'btn btn-default btn' %>
<%end%>
</div>

