
<%= simple_form_for(@client, html: { class: 'form-inline' }) do |f| %>

  
       <div class="row">
        <div class="col-xs-6">
          <%= f.input :rif, as: :string,  input_html: {value: 0} , type: "number", placeholder: 'RIF', label: 'RIF', error: 'Debe ingresar el RIF del Cliente o este debe ser Numérico'%>
        </div>
      
        <div class="col-xs-6">
            <%= f.input :profitCode, placeholder: 'Código Profit', label: 'Código Profit', error: 'Debe ingresar el Código Profit'%>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :name, placeholder: 'Nombre', label: 'Nombre', error: 'Debe ingresar el nombre del Cliente' %>
        </div>
        <div class="col-xs-6">
            <%= f.input :email, placeholder: 'Correo Electrónico', label: 'Correo', error: 'Debe ingresar el Correo del Cliente' %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        
        <div class="col-md-6">
          <label>*Contribuyente Especial</label>
              <%= f.input :specialcontributor, as: :boolean, checked_value: true, unchecked_value: false, label: false %>
        </div>

        <div class="field">
          <%= f.input :state, placeholder: 'Estado', label: 'Estado', error: 'Debe ingresar el Estado del Cliente' %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
            <%= f.input :socialReason, placeholder: 'Razón Social', label: 'Razón Social', error: 'Debe ingresar la Razón Social del Cliente' %>
        </div>
        <div class="col-xs-6">
          <label>Descuentos Aplicables</label>
            <%=f.collection_check_boxes :discount_ids, Discount.all, :id, :name%>

        </div>



      </div>
      <br>
      <br>
      <div class="row">  
        

        <div class="col-xs-6">
          <label>*País</label>
            <%= f.input :country, as: :country, placeholder: 'Venezuela', label: false, error: 'Debe ingresar el país del Cliente' %>
        </div>
        
      </div>


<br>
  <div ALIGN=right>  
    <br>
      <div class="actions">
        <%= f.button :submit, "Crear Cliente"%>  
        <%= link_to 'Atrás', clients_path, :class => 'btn btn-default btn'  %>
      </div>
  </div>
<% end %>
