
<%= simple_form_for(@client, html: { class: 'form-inline' }) do |f| %>

  
       <div class="row">
        <div class="col-xs-6">
         <label>*RIF</label>
          <%= f.input :rif, as: :string,  input_html: {value: 0} , type: "number", placeholder: 'RIF', label: false, error: 'Debe ingresar el RIF del Cliente o este debe ser Numérico'%>
        </div>
      
        <div class="col-xs-6">
          <label>*Código Profit</label>
            <%= f.input :profitCode, placeholder: 'Código Profit', label: false, error: 'Debe ingresar el Código Profit'%>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
         <label>*Nombre</label>
          <%= f.input :name, placeholder: 'Nombre', label: false, error: 'Debe ingresar el nombre del Cliente' %>
        </div>
        <div class="col-xs-6">
          <label>*Correo</label>
            <%= f.input :email, placeholder: 'Correo', label: false, error: 'Debe ingresar el Correo del Cliente' %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        
        <div class="col-md-6">
          <label>*Pagado</label>
            <%= f.input :specialcontributor, :collection => [['Si','si'],['No','no']], label: false,
              include_blank: "Seleccionar" %>
        </div>

        <div class="field">
          <label>*Estado</label>
          <%= f.input :state, placeholder: 'Estado', label: false, error: 'Debe ingresar el Estado del CLiente' %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <label>*Razón Social</label>
            <%= f.input :socialReason, placeholder: 'Razón Social', label: false, error: 'Debe ingresar la Razón Social del Cliente' %>
        </div>
        <div class="col-xs-6">
          <label>Descuentos</label>
            <%=f.collection_check_boxes :discount_ids, Discount.all, :id, :name%>

        </div>


        
      </div>
      <br>
      <br>
      <div class="row">  
        

        <div class="col-xs-6">
          <label>*País</label>
            <%= f.input :country, placeholder: 'Venezuela', label: false, error: 'Debe ingresar el país del Cliente' %>
        </div>
      </div>


<br>
  <div ALIGN=right>  
    <br>
      <div class="actions">
        <%= f.button :submit, "Crear Cliente"%>  
        <%= link_to 'Atrás', clients_path, :class => 'btn btn-default btn'  %>
      </div>
  </div>
<% end %>
