
<%= simple_form_for(@client) do |f| %>

  
       <div class="row">
        <div class="col-xs-6">
          <%= f.input :rif, as: :string , type: "number", placeholder: 'RIF', label: 'RIF', error: 'Debe ingresar el RIF del Cliente o este debe ser Numérico'%>
        </div>
      
        <div class="col-xs-6">
            <%= f.input :profitCode, placeholder: 'Código Profit', label: 'Código Profit', error: 'Debe ingresar el Código Profit'%>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :name, placeholder: 'Nombre', label: 'Nombre', error: 'Debe ingresar el nombre del Cliente' %>
        </div>
        <div class="col-xs-6">
            <%= f.input :email, placeholder: 'Correo Electrónico', label: 'Correo', error: 'Debe ingresar el Correo del Cliente' %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        
        <div class="col-xs-6">
              <%= f.input :specialcontributor, :collection => [['Si','true'],['No','false']], label: "Contribuyente Especial",
                  include_blank: "Seleccionar"%>
        </div>
        <div class="col-xs-6">
          <%= f.input :state, placeholder: 'Estado', label: 'Estado', error: 'Debe ingresar el Estado del Cliente' %>
        </div>
        
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
            <%= f.input :socialReason, placeholder: 'Razón Social', label: 'Razón Social', error: 'Debe ingresar la Razón Social del Cliente' %>
        </div>
        
        <div class="col-md-6">
              <%= f.input :localAmount, label: "Numero de locales"%>
        </div>
        
       

      </div>
      <br>
      <br>
      <div class="row">
        
        <div class="col-md-6">
              <%= f.input :chargeMonthlyFee, :collection => [['Si','true'],['No','false']], label: "Cobrar Mensualidad",
                  include_blank: "Seleccionar"%>
        </div>
        <div class="col-md-6">
              <%= f.input :oldCustomer, :collection => [['Si','true'],['No','false']], label: "Cliente Antiguo",
                  include_blank: "Seleccionar"%>
        </div>
        
      </div>
      <br>
      <br>
        
      <div class="row">  
        

        <div class="col-xs-6">
          <label>País</label>
            <%= f.input :country, as: :country, placeholder: 'Venezuela', label: false, error: 'Debe ingresar el país del Cliente' %>
        </div>
        
       <div class="col-xs-3">
          <label>Descuentos Aplicables</label>
            <%=f.collection_check_boxes :discount_ids, Discount.all, :id, :name%>

        </div>
         <div class="col-md-3">
              <%= f.input :specialDiscount,  label: "Descuento Especial",
                  include_blank: "Seleccionar", error: 'El cliente solo puede tener dos descuentos'%>
        </div>
        
      </div>
      <div class="row"> 
        <label>Comentarios</label>
            <%= f.input :comment, placeholder: 'Comentarios', label: false%>
        </div>
      </div>


<br>
  <div ALIGN=right>  
    <br>
      <div class="actions">
        <%= f.button :submit, "Crear Cliente"%>  
        <%= link_to 'Atrás', clients_path, :class => 'btn btn-default btn'  %>
      </div>
  </div>
<% end %>
