
<script type="text/javascript">
  $(document).ready(function() {
    var discount = document.getElementById("client_specialDiscount");
  
    discount.value = discount.value.replace('.',',');
    discount.addEventListener('keyup', validate_discount, true);
    function validate_discount(){
      var regex_amount = /^[0-9]+([,][0-9]+)?$/;
      if (!(discount.value.match(regex_amount))) {
        if(discount.value!=''){
          var msg = 'Este campo debe ser numérico y sólo admite una coma.';
          document.getElementById("error_discount").innerHTML= msg;
        }
        else{
          document.getElementById("error_discount").innerHTML= '';
        
        }   
      }
      else{
        document.getElementById("error_discount").innerHTML= '';
        
      }
    };
   
    $('#button_edit').click(function(){
    if($('#error_discount').text() ===''){
      $('.simple_form edit_client').submit();
    }
  })
  })

</script>


<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>
  
       <div class="row">
        <div class="col-xs-6">
        <strong></strong>
          <%= f.input :rif, placeholder: 'RIF', label: 'RIF (9 Dígitos)', error: 'El RIF debe ser Numérico (9 dígitos)', input_html: { autocomplete: 'off' }  %>
        </div>
      
        <div class="col-xs-6">
            <%= f.input :profitCode,  as: :integer,placeholder: 'Código Profit', label: 'Código Profit (Mínimo 6 dígitos)', error: 'El Código debe ser Numérico (6 dígitos)', input_html: { autocomplete: 'off' }  %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :name, placeholder: 'Nombre', label: 'Nombre', error: 'Debe ingresar el nombre del Cliente', input_html: { autocomplete: 'off' }   %>
        </div>
        <div class="col-xs-6">
            <%= f.input :socialReason, placeholder: 'Razón Social', label: 'Razón Social', error: 'Debe ingresar la Razón Social del Cliente', input_html: { autocomplete: 'off' }   %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
              <%= f.input :localId, label: "Id del Local", placeholder: 'Id del local', error: 'Esta campo es necesario', input_html: { autocomplete: 'off' }  %>
              
        </div>
        
        <div class="col-xs-6">
          <%= f.input :state, placeholder: 'Estado', label: 'Estado', error: 'Debe ingresar el Estado del Cliente', input_html: { autocomplete: 'off' } %>
        </div>
        
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
        
            <%= f.input :country, as: :country, placeholder: 'Venezuela', label: 'País', error: 'Debe ingresar el país del Cliente' %>
        </div>
        <div class="col-xs-6">
         
            <%= f.input :comment, placeholder: 'Comentarios', label: 'Comentarios'%>
        </div>
      </div>
        
        
      <br>
      <br>
      <div class="row">  
        

        <div class="col-xs-6">
          <b><%= f.input :specialcontributor,  label: "Contribuyente Especial"%></b>
   
          <%= f.input :chargeMonthlyFee,  label: "Cobrar Mensualidad"%>
    
     
        </div>
        <div class="col-xs-3">
          <label>Descuentos Aplicables</label> <br>
            <%=f.collection_check_boxes :discount_ids, Discount.all, :id, :name%>

        </div>
         <div class="col-md-3">
              <%= f.input :specialDiscount, as: :string, label: "Descuento Especial",
                  include_blank: "Seleccionar", error: 'Este campo debe ser Numérico', input_html: { autocomplete: 'off' }  %>
              <span id="error_discount" style="color:#a94442"></span>
        </div>
       
        
      </div> 
      <br><br>
     
        
            


<br>
  <div ALIGN=right>   
    <br>
      <div class="actions">
       <%= f.button :button, "Crear Cliente" , id: "button_edit"%>
      </div>
  </div>
<% end %>
<br>
<br>
