
<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>
  
       <div class="row">
        <div class="col-xs-6">
          <%= f.input :rif, placeholder: 'RIF', label: 'RIF', error: 'El RIF debe ser Numérico (9 digitos)'%>
        </div>
      
        <div class="col-xs-6">
            <%= f.input :profitCode, placeholder: 'Código Profit', label: 'Código Profit', error: 'El Código debe ser Numérico (6 digitos)'%>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :name, placeholder: 'Nombre', label: 'Nombre', error: 'Debe ingresar el nombre del Cliente' %>
        </div>
        <div class="col-xs-6">
            <%= f.input :socialReason, placeholder: 'Razón Social', label: 'Razón Social', error: 'Debe ingresar la Razón Social del Cliente' %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
              <%= f.input :localAmount,as: :string, label: "Numero locales", error: 'Este campo debe ser Numérico'%>
        </div>
        
        <div class="col-xs-6">
          <%= f.input :state, placeholder: 'Estado', label: 'Estado', error: 'Debe ingresar el Estado del Cliente' %>
        </div>
        
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
        
            <%= f.input :country, as: :country, placeholder: 'Venezuela', label: 'País', error: 'Debe ingresar el país del Cliente' %>
        </div>
        <div class="col-xs-6">
         
            <%= f.input :comment, placeholder: 'Comentarios', label: 'Comentarios'%>
        </div>
      </div>
        
        
      <br>
      <br>
      <div class="row">
      <div align="center">

        <div class="col-xs-6">
          <%= f.input :specialcontributor,  label: "Contribuyente Especial"%>
   
          <%= f.input :chargeMonthlyFee,  label: "Cobrar Mensualidad"%>
    
          <%= f.input :oldCustomer, label: "Cliente Antiguo"%>
        </div>
      </div>
        <div class="col-xs-3">
          <label>Descuentos Aplicables</label> <br>
            <%=f.collection_check_boxes :discount_ids, Discount.all, :id, :name%>

        </div>
         <div class="col-md-3">
              <%= f.input :specialDiscount, as: :string , type: "number",  label: "Descuento Especial",
                  include_blank: "Seleccionar", error: 'Este campo debe ser Numérico'%>
        </div>
        
      </div>
      <br>
      <br>
        
      <div class="row">  
        

        
        
       
        
      </div>
     


<br>
  <div ALIGN=right>  
    <br>
      <div class="actions">
        <%= f.button :submit, "Crear Cliente"%>  
        <%= link_to 'Atrás', clients_path, :class => 'btn btn-default btn'  %>
      </div>
  </div>
<% end %>
