<div ALIGN=center>
<%= simple_form_for(@client, html: { class: 'form-inline' }) do |f| %>

  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2> Faltaron <%=@client.errors.count %> datos por rellenar:</h2>

      <ul>
      
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= f.input :rif, placeholder: 'RIF', label: 'RIF'%>

  </div>
  <div class="field">
   
    <%= f.input :name, placeholder: 'Nombre', label: 'Nombre' %>
  </div>
  <div class="field">
  
    <%= f.input :email, placeholder: 'Correo', label: 'Correo' %>
  </div>
  <div class="field">
    <%= f.input :country, required: true, placeholder: 'Venezuela', label: 'Pais' %>
  </div>
   <div class="field">
  
    <%= f.input :state, placeholder: 'Estado' %>
  </div>
  <div class="field">
    <%= f.input :socialReason, placeholder: 'Razón Social' %>
  </div>
  <div class="field">
    <%= f.label :"ontribuyente Especial" %><br>
    <select name="client[specialcontributor]">
      <option value="" selected="selected">Seleccione</option>
      <option value="true">Si</option>
      <option value="false">No</option>
  </select>
  </div>
      
  <br>
  <div class="actions">
    <%= f.association :discounts, 
                     as: :check_boxes, 
                     label_method: :name, 
                     value_method: :id,
                     label: 'Descuentos' %>
  </div>
  <div class="field">

  <%= f.association :discounts,   as: :check_boxes %>
  </div>

  <br>
  <div class="actions">
    <%= f.button :submit, "Crear Ciente"%>
  </div>
<% end %>
<div>