<div ALIGN=center>
<%= simple_form_for(@client, html: { class: 'form-inline' }) do |f| %>

  
   <div class="field">
   <label>RIF</label>
    <%= f.input :rif, placeholder: 'RIF', label: false, error: 'Debe ingresar el RIF del Cliente'%>

  </div>
  
  <div class="field">
  <label>Código Profit</label>
    <%= f.input :profitCode, placeholder: 'Código Profit', label: false, error: 'Debe ingresar el Código Profit'%>

  </div>
  <div class="field">
   <label>Nombre</label>
    <%= f.input :name, placeholder: 'Nombre', label: false, error: 'Debe ingresar el nombre del Cliente' %>
  </div>
  <div class="field">
  <label>Correo</label>
    <%= f.input :email, placeholder: 'Correo', label: false, error: 'Debe ingresar el Correo del Cliente' %>
  </div>
  <div class="field">
  <label>País</label>
    <%= f.input :country, required: true, placeholder: 'Venezuela', label: false, error: 'Debe ingresar el país del Cliente' %>
  </div>
   <div class="field">
    <label>Estado</label>
    <%= f.input :state, placeholder: 'Estado', label: false, error: 'Debe ingresar el Estado del CLiente' %>
  </div>
  <div class="field">
  <label>Razón Social</label>
    <%= f.input :socialReason, placeholder: 'Razón Social', label: false, error: 'Debe ingresar la Razón Social del Cliente' %>
  </div>
  <div class="field">
    <label>Contribuyente Especial</label>
    <select name="client[specialcontributor]">
      <option value="" selected="selected">Seleccione</option>
      <option value="true">Si</option>
      <option value="false">No</option>
  </select>
  </div>
      
  <br>

  <div class="field">

    
    <%=f.collection_check_boxes :discount_ids, Discount.all, :id, :name %>

  </div>

<div>
<br>
<div ALIGN=right>  
  <br>
  <div class="actions">
    <%= f.button :submit, "Crear Ciente"%>  
    <%= link_to 'Atrás', clients_path, :class => 'btn btn-default btn'  %>
  </div>
<% end %>
<div>