<div ALIGN=center>
<%= simple_form_for(@client, html: { class: 'form-inline' }) do |f| %>

  
   <div class="field">
    <%= f.input :rif, placeholder: 'RIF', label: 'RIF'%>

  </div>
  
  <div class="field">
    <%= f.input :profitCode, placeholder: 'Código Profit', label: 'Profit'%>

  </div>
  <div class="field">
   
    <%= f.input :name, placeholder: 'Nombre', label: 'Nombre' %>
  </div>
  <div class="field">
  
    <%= f.input :email, placeholder: 'Correo', label: 'Correo' %>
  </div>
  <div class="field">
    <%= f.input :country, required: true, placeholder: 'Venezuela', label: 'Pais' %>
  </div>
   <div class="field">
  
    <%= f.input :state, placeholder: 'Estado' %>
  </div>
  <div class="field">
    <%= f.input :socialReason, placeholder: 'Razón Social' %>
  </div>
  <div class="field">
    <%= f.label :"ontribuyente Especial" %><br>
    <select name="client[specialcontributor]">
      <option value="" selected="selected">Seleccione</option>
      <option value="true">Si</option>
      <option value="false">No</option>
  </select>
  </div>
      
  <br>

  <div class="field">

    
    <%=f.collection_check_boxes :discount_ids, Discount.all, :id, :name %>

  </div>

<div>
<br>
<div ALIGN=right>  
  <br>
  <div class="actions">
    <%= f.button :submit, "Crear Ciente"%>  
    <%= link_to 'Atrás', clients_path, :class => 'btn btn-default btn'  %>
  </div>
<% end %>
<div>