
<p id="notice"><%= notice %></p>

<h1>Clientes</h1>
<div ALIGN=center>



<%= form_tag import_clients_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
       <div class="row">
      <%= form_tag clients_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
    </div>
      <table class="table table-striped">
        <thead>
          <tr>
          <th>Código</th>
            <th>RIF</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>País</th>
             <th>Estado</th>
            
            
           
            
          </tr>
        </thead>
        <tbody>
    <% @clients.each do |client| %>
      <!--<tr data-link="<%= edit_client_path(client) %>">-->
       <tr link="<%= edit_client_path(client) %>">
       <td><%= client.code %></td>
        <td><%= client.rif %></td>
        <td><%= client.name %></td>
        <td><%= client.email%></td>
        <td><%= client.country%></td>
        <td><%= client.state%></td>
        
        <% if can? :show, client %>
        <td><%= link_to 'Mostrar', client, :class => 'btn btn-success btn'  %></td>
        <%end%>
        <% if can? :edit, client %>
        <td><%= link_to 'Editar', edit_client_path(client), :class => 'btn btn-warning btn'  %></td>
        <%end%>
        <% if can? :destroy, client %>
        <td><%= link_to 'Borrar', client, method: :delete, data: { confirm: '¿Estas seguro?' },:class => 'btn btn-danger btn' %></td>
        <%end%>
      </tr>
      
    <% end %>
  </tbody>
      </table>
    <%= will_paginate %>
  </div>

<br>
<div ALIGN=right>
  <%= link_to 'Nuevo Cliente', new_client_path, :class => 'btn btn-default btn'  %>
  <%= link_to "Generar pdf", "/clients.pdf", :format => 'pdf', target: :_blank, :class => 'btn btn-default btn'  %>
</div>
</div>





