<div ALIGN=center>
<p id="notice"><%= notice %></p>

<h1>Clientes</h1>
<%= form_tag import_clients_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>RIF</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Contribuyente Especial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.rif %></td>
        <td><%= client.name %></td>
        <td><%= client.lastname %></td>
        <td><%= client.email%></td>
        <td><%= client.specialcontributor%></td>
        <% if can? :show, client %>
        <td><%= link_to 'Mostrar', client %></td>
        <%end%>
        <% if can? :edit, client %>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <%end%>
        <% if can? :destroy, client %>
        <td><%= link_to 'Borrar', client, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
        <%end%>
      </tr>
      
    <% end %>
    <%if @clients.size == 0%>
         <td>No Hay Clientes</td>
      <%end%>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_client_path %>
<%= link_to 'Menú Principal', controller: 'principal' %>
<%= link_to "Generar pdf", "/clients.pdf", :format => 'pdf', target: :_blank %>
</div>