
<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<br>
<br> 
    <div class="row">
      <div class="col-xs-4">
        <!--Busqueda de clientes por nombre-->
        <%= hidden_field_tag :direction, params[:search]%>
        <%= hidden_field_tag :sort, params[:sort]%>
        <label>Nombre</label>
        <%= form_tag clients_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Buscar Cliente", :name => nil, :class => 'btn btn-default btn'   %>
          </p>
        <% end %>
        <p><%= link_to "Busqueda Avanzada", new_search_client_path %></p> 
      </div>    

      <div class="col-xs-6">
        <%= form_tag import_clients_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Importar Clientes", :class => 'btn btn-default btn'   %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p>
  Exportar Clientes:
  <%= link_to "CSV", clients_path(format: "csv") %> |
  <%= link_to "Excel", clients_path(format: "xls") %>
</p>
      </div>
    </div>
    
      <table class="table table-striped">
        <thead>
          <tr>
          <th><%=  sortable "code", "Código"%></th>
          <th><%=  sortable "rif", "RIF"%></th>
          <th><%=  sortable "name", "Nombre"%></th>
          <th><%=  sortable "socialReason", "Razón Social"%></th> 
          
          <th><%=  sortable "country", "País"%></th>
          <th><%=  sortable "state", "Estado"%></th>
           
            
           
            
          </tr>
        </thead>
        <tbody>
    <% @clients.each do |client| %>
      <!--<tr data-link="<%= edit_client_path(client) %>">-->
       <tr link="<%= edit_client_path(client) %>">
       <td><%= client.code %></td>
        <td><%= client.rif %></td>
        <td><%= client.name %></td>
        <td><%= client.socialReason%></td>
        <td><%= client.completeCountry%></td>
        <td><%= client.state%></td>
        
        
        <% if can? :show, client %>
        <td><%= link_to 'Mostrar', client, :class => 'btn btn-success btn'  %></td>
        <%end%>
        <% if can? :edit, client %>
        <td><%= link_to 'Editar', edit_client_path(client), :class => 'btn btn-warning btn'  %></td>
        <%end%>
        <% if can? :destroy, client %>
        <td><%= link_to 'Borrar', client, method: :delete, data: { confirm: '¿Estas seguro?' },:class => 'btn btn-danger btn' %></td>
        <%end%>
      </tr>
      
    <% end %>
  </tbody>
      </table>
      <div ALIGN=center>
    <%= will_paginate %>
    </div>
  </div>

<br>
<div ALIGN=right>
  <%= link_to 'Nuevo Cliente', new_client_path, :class => 'btn btn-default btn'  %>
  <%= link_to "Generar pdf", "/clients.pdf", :format => 'pdf', target: :_blank, :class => 'btn btn-default btn'  %>
</div>
<br>
<br>
</div>





