
<p id="notice"><%= notice %></p>

<h1>Clientes</h1>
<div ALIGN=center>
<%= form_tag import_clients_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
       <div class="row">
      <div class="col-md-4">
        <input type="text" id="search" class="form-control" ng-model="search" placeholder="Cliente" />
      </div>
    </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-1">RIF</th>
            <th class="col-md-2">Nombre</th>
            <th class="col-md-2">Email</th>
            <th class="col-md-2">País</th>
             <th class="col-md-2">Estado</th>
            <th class="col-md-2">Contribuyente</th>
            
           
            <th class="col-md-2">Razón Social</th>
          </tr>
        </thead>
        <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.rif %></td>
        <td><%= client.name %></td>
        <td><%= client.email%></td>
        <td><%= client.country%></td>
        <td><%= client.state%></td>
        <td><%= client.specialcontributor%></rails generate simple_form:install --bootstrap>
        
        <td><%= client.socialReason%></td>
        <% if can? :show, client %>
        <td><%= link_to 'Mostrar', client, :class => 'btn btn-success btn'  %></td>
        <%end%>
        <% if can? :edit, client %>
        <td><%= link_to 'Editar', edit_client_path(client), :class => 'btn btn-primary btn'  %></td>
        <%end%>
        <% if can? :destroy, client %>
        <td><%= link_to 'Borrar', client, method: :delete, data: { confirm: '¿Estas seguro?' },:class => 'btn btn-danger btn' %></td>
        <%end%>
      </tr>
      
    <% end %>
  </tbody>
      </table>
    
  </div>

<br>

<%= link_to 'Nuevo Cliente', new_client_path %>
<%= link_to "Generar pdf", "/clients.pdf", :format => 'pdf', target: :_blank %>
</div>





