<div align="center">
	<table class="table table-striped table-hover">
	    
	    <tr>
		    <th style="width: 200px;"> Código Profit </th>
	        <th style="width: 200px;"> RIF </th>
	        <th style="width: 200px;"> Nombre </th>
	        <th style="width: 200px;"> País </th>
	        <th style="width: 200px;"> Estado </th>
				<th colspan="3"></th>
		</tr>
       
	    <tbody>
			    <% @clients.each do |client| %>
			      <!--<tr data-link="<%= edit_client_path(client) %>">-->
			       <tr link="<%= edit_client_path(client) %>">
			       <td><%= client.code %></td>
			        <td><%= client.rif %></td>
			        <td><%= client.name %></td>
			        <td><%= client.completeCountry%></td>
			        <td><%= client.state%></td>
				<%end%>

		</tbody>
	</table>
</div> 