
<p id="notice"><%= notice %></p>
<h1>Cliente</h1>
<div ALIGN=center>

<p>
  <strong>Código:</strong>
  <%= @client.code %>
</p>
<p> 
  <strong>RIF:</strong>
  <%= @client.rif %>
</p>

<p> 
  <strong>Código Profit:</strong>
  <%= @client.profitCode %>
</p>
<p> 
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
<p>
  <strong>País:</strong>
  <%= @client.completeCountry %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @client.state %>
</p>
<p>
  <strong>Razón Social:</strong>
  <%= @client.socialReason %>
</p>
<p>
  <strong>Contribuyente Especial:</strong>
  <%="Si" if @client.specialcontributor%> <%="No" if !@client.specialcontributor%>
</p>
<p>
  <p>
    Descuentos: <%= @client.discounts.map(&:name).join(',') %>
</p>
</p>
<div class="field">
    <h3>Correos</h3>
	<%=render "clientmails/form"%> 
	<ul>
		<% @client.clientmails.each do |clientmail| %>
		<li>
		  <%= clientmail.title%> 
		</li>
		<p>- <%=clientmail.body%>	</p>
		<%end%>
	</ul>
</div>
</div>
<div ALIGN=right>

<%= link_to 'Atrás', clients_path, :class => 'btn btn-default btn' %>
</div>
<br>
<br>
