<div ALIGN=center>
<p id="notice"><%= notice %></p>
<h1>Cliente</h1>
<p> 
  <strong>RIF:</strong>
  <%= @client.rif %>
</p>
<p> 
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
<p>
  <strong>País:</strong>
  <%= @client.country %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @client.state %>
</p>
<p>
  <strong>Razón Social:</strong>
  <%= @client.socialReason %>
</p>
<p>
  <strong>Contribuyente Especial:</strong>
  <%= @client.specialcontributor %>
</p>
<strong>Descuentos:</strong>
<% @client.discounts.each do |discount| %>
<div>
	<%= discount.name %> 
</div>
<%end%>
<div class="field">
    <h3>Correos</h3>
	<%=render "clientmails/form"%> 
	<ul>
		<% @client.clientmails.each do |clientmail| %>
		<li>
		  <%= clientmail.title%> 
		</li>
		<p>- <%=clientmail.body%>	</p>
		<%end%>
	</ul>
</div>
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atrás', clients_path %>
</div>
