
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), clients_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Cliente</h1>
</div>
</div>


<div ALIGN=center> 

<table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
  <tr>
    <td>
      <p>
        <strong>Código:</strong>
        <%= @client.code %>
      </p>
    </td>
    <td>
      <p> 
        <strong>RIF:</strong>
        <%= @client.rif %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p> 
        <strong>Código Profit:</strong>
        <%= @client.profitCode %>
      </p>
    </td>
    <td>
      <p> 
        <strong>Id del Local:</strong>
        <%= @client.localId %>
      </p>
    </td>
   
  </tr>
  <tr>
    <td>
      <p> 
        <strong>Nombre:</strong>
        <%= @client.name %>
      </p>
    </td>
    <td>
      <p>
        <strong>País:</strong>
        <%= @client.country %> 
      </p>
    </td>    
  </tr>
    <tr>
      <td>
        <p>
          <strong>Cobrar Mensualidad:</strong>
          <%="Si" if @client.chargeMonthlyFee%> <%="No" if !@client.chargeMonthlyFee%>
        </p>
      </td>
      <td>
        <p>
          <strong>Estado:</strong>
          <%= @client.state %>
        </p>
      </td>
    </tr>
      <tr>
        <td>
          <p>
            <strong>Razón Social:</strong>
            <%= @client.socialReason %>
          </p>
        </td>
        <td>
          <p>
            <strong>Número de locales:</strong>
            <%= @client.localAmount %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Contribuyente Especial:</strong>
            <%="Si" if @client.specialcontributor%> <%="No" if !@client.specialcontributor%>
          </p>
        </td>
        <td>
          <p>
            <strong>Comentarios:</strong>
            <%=@client.comment%> 
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Última Fecha de Pago:</strong>
            <%=@client.lastPayment%>
          </p>
        </td>
        <td> 
          <p>
            <strong>Descuentos: </strong> <br> 
            <% @client.discounts.each do |discount|%>
            <%=discount.name%> - <%=discount.percentage%>%<br>
            <%end%>
            
            <% if @client.specialDiscount%>
             Especial - 
             <%= number_to_currency(@client.specialDiscount, unit: "", separator: ",", delimiter: ".", precision: 2) %>%
            <%end%>
          </p>
        </td>
      </tr>
      <tr>
        
        <td>
          <p>
           
            <%= render "emails/form" %>

            <ul>
              <%@client.emails.each do |email|%>
                <li  style="list-style:none;">
                  <%=email.email%>
                  
                 <%= link_to 'Eliminar Correo', [email.client, email], method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              <%end%>
            </ul>
          </p>
        </td>
        <td></td>
      </tr>
      
    </table>
