<p id="notice"><%= notice %></p>
<h1>Cliente</h1>
<p> 
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.lastname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atrás', clients_path %>
