<div ALIGN=center>
<p id="notice"><%= notice %></p>
<h1>Cliente</h1>
<p> 
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.lastname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
<div class="field">
    <h3>Correos</h3>
	<%=render "clientmails/form"%> 
	<ul>
		<% @client.clientmails.each do |clientmail| %>
		<li>
		  <%= clientmail.title%> 
		</li>
		<p>- <%=clientmail.body%>	</p>
		<%end%>
	</ul>
</div>
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atrás', clients_path %>
</div>
