<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), clients_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Importar Clientes</h1>
</div>
</div>

<p>Un archivo  Excel puede utilizarse para importar registros. La primera fila debe ser el nombre de columna. Se permiten las siguientes columnas.</p>

<ul>
      <li>
        <strong>codigoProfit</strong> - Tipo texto  
      </li>
      <li>
        <strong>rif</strong> - Tipo texto  
      </li>
      <li>
        <strong>nombre</strong> - Tipo texto  
      </li>
      <li>
        <strong>razonSocial</strong> - Tipo texto  
      </li>
      <li>
        <strong>cantidadLocales</strong> - Tipo Numero Entero  
      </li>
      <li>
        <strong>pais</strong> - Tipo texto  
      </li>
      <li>
        <strong>estado</strong> - Tipo texto  
      </li>
      <li>
        <strong>contribuyenteEspecial</strong> - (Si o No)   
      </li>
      <li>
        <strong>comentario</strong> - Tipo texto  
      </li>
      <li>
        <strong>clienteAntiguo</strong> - Tipo texto  
      </li>
      <li>
        <strong>cobrarMensualidad</strong> - (Si o No)  
      </li>


</ul>

<p>Si un <strong>rif</strong> se suministra se actualizará el registro coincidente en lugar de crear uno nuevo.</p>

<%= form_for @client_import do |f| %>
  <% if @client_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_import.errors.count, "errores") %> encontrados:</h2>
      <ul>
      <% @client_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
<br>
