<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atr치s"), clients_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Importar Clientes</h1>
</div>
</div>

<%= form_for @client_import do |f| %>
  

  
  

        <div id="menu-element" class="well-separator">
              
                <div class="row">
                <div align="center">
                    <div class="col-sm-4"><label>Seleccionar Archivo</label></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"><label>Importar Clientes</label></div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-4" align="center">
                  <div class="field">
                    <%= f.file_field :file %>
                  </div>
                  </div>    

                  <div class="col-xs-3"> 
                  </div>
                  <div class="col-xs-3">


                  </div>
                  <div class="col-xs-2">
                  <div align="center">
                    <div class="buttons"><%= f.submit "Importar", :class => 'btn btn-default btn'   %></div>
                    
                  </div>

                  
                  </div>
                </div>
                
            
        </div>

        <div align="center">
          <p>En esta secci칩n puedes importar masivamente una lista de clientes contenidos en un archivo excel.</p>
          <p> La primera fila del archivo debe ser el nombre de columna. </p>
          <p>Las columnas deben llamarse tal y como se muestra a continuaci칩n:</p>
        </div>  
        <ul>
              <li>
                <strong>codigoProfit</strong> - Tipo texto <strong>(campo obligatorio)</strong> 
              </li>
              <li>
                <strong>rif</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
              </li>
              <li>
                <strong>nombre</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
              </li>
              <li>
                <strong>razonSocial</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
              </li>
              <li>
                <strong>pais</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
              </li>
              <li>
                <strong>estado</strong> - Tipo texto <strong>(campo obligatorio)</strong> 
              </li>
              <li>
                <strong>cobrarMensualidad</strong> - (Si o No)  <strong>(campo opcional)</strong>
              </li>
              <li>
                <strong>cantidadLocales</strong> - Tipo Numero Entero  <strong>(campo obligatorio)</strong>
              </li>
              
              
              <li>
                <strong>contribuyenteEspecial</strong> - (Si o No)  <strong>(campo obligatorio)</strong>
              </li>
              <li>
                <strong>comentario</strong> - Tipo texto  <strong>(campo opcional)</strong>
              </li>
              <li>
                <strong>localId</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
              </li>
              


        </ul>
        <div align="center">
          <p>Si un <strong>rif</strong> se suministra se actualizar치 el registro coincidente en lugar de crear uno nuevo.</p>
        </div>



        <br>
        <% if @client_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_import.errors.count, "errores") %> encontrados:</h2>
      <ul>
      <% @client_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>