
<p id="notice"><%= notice %></p>

<h1>Tarifas</h1>

  

    
    
<table class="table table-striped">
  <thead>
    <tr>
      <th>Mensualidad</th>
      <th>Mensualidad Clientes Viejos</th>
      <th>Instalación</th>
      <th>Mensualidad e Instalación</th>
      <th>Reactivation </th>
      <th>Impuesto</th>
    </tr>
  </thead>

  <tbody>
    <% @constants.each do |constant| %>
      <tr>
        <td><%= constant.monthlyPayment.to_s.gsub('.', ',')%></td>
        <td><%= constant.oldMonthlyPayment.to_s.gsub('.', ',') %></td>
        <td><%= constant.installPayment.to_s.gsub('.', ',') %></td>
        <td><%= constant.completePayment.to_s.gsub('.', ',') %></td>
        <td><%= constant.reactivationPayment.to_s.gsub('.', ',') %></td>
        <td><%= constant.tax.to_s.gsub('.', ',') %></td>
        <td><%= link_to 'Mostrar', constant, :class => 'btn btn-success btn' %></td>
        <td><%= link_to 'Editar', edit_constant_path(constant), :class => 'btn btn-warning btn' %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<div align="center">

</div>
<br>

<div ALIGN=right>
  <%= link_to 'Crear Nuevas Tarias', new_constant_path, :class => 'btn btn-default btn'   %>
</div>
