<p id="notice"><%= notice %></p>
<h1>Tarifas</h1>
<div ALIGN=center>
  <p>
    <strong>Mensualidad:</strong>
    <%= @constant.monthlyPayment.to_s.gsub('.', ',') %>
  </p>
  <p>
    <strong>Mensualidad Clientes viejos:</strong>
    <%= @constant.oldMonthlyPayment.to_s.gsub('.', ',') %>
  </p>


  <p>
    <strong>Instalaci칩n:</strong>
    <%= @constant.installPayment.to_s.gsub('.', ',') %>
  </p>

  <p>
    <strong>Instalaci칩n y mensualidad:</strong>
    <%= @constant.completePayment.to_s.gsub('.', ',') %>
  </p>

  <p>
    <strong>Reactivaci칩n:</strong>
    <%= @constant.reactivationPayment.to_s.gsub('.', ',') %>
  </p>

  <p>
    <strong>Impuesto:</strong>
    <%= @constant.tax.to_s.gsub('.', ',') %>
  </p>
</div>
<div ALIGN=right>

  <%= link_to 'Atr치s', constants_path, :class => 'btn btn-default btn'  %>
</div>
