<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<h1>Recordatorios</h1>

<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), rates_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Tarifa</h1>
</div>
</div>
<div ALIGN=center>

<p>
  <strong>Nombre:</strong>
  <%= @rate.name %>
</p>
<%if @rate.name != "Porcentaje de IVA"%>
<p>
  <strong>Monto:</strong>
  <%= number_to_currency(@rate.amount, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
</p>
<%else%>
<p>
  <strong>Monto:</strong>

  <%= number_to_currency(@rate.amount, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
</p>
<%end%>



