<h1>Tarifa</h1>
<div ALIGN=center>
<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @rate.name %>
</p>
<%if @rate.name != "Porcentaje de IVA"%>
<p>
  <strong>Monto:</strong>
  <%= number_to_currency(@rate.amount, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
</p>
<%else%>
<p>
  <strong>Monto:</strong>

  <%= number_to_currency(@rate.amount, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
</p>
<%end%>


<div ALIGN=right>

<%= link_to 'Atrás',rates_path, :class => 'btn btn-default btn' %>
</div>

