<script type="text/javascript">
  $(document).ready(function() {
    var amount = document.getElementById("accountpayable_amountPaid");
  
    amount.value = amount.value.replace('.',',');
    amount.addEventListener('keyup', validate_discount, true);
    function validate_discount(){
      var regex_amount = /^[0-9]+([,][0-9]+)?$/;
      if (!(amount.value.match(regex_amount))) {
        if(amount.value!=''){
          var msg = 'Este campo debe ser numérico y sólo admite una coma.';
          document.getElementById("error_discount").innerHTML= msg;
        }
        else{
          document.getElementById("error_discount").innerHTML= '';
        
        }   
      }
      else{
        document.getElementById("error_discount").innerHTML= '';
        
      }
    };
   
    $('#button_edit').click(function(){
    if($('#error_discount').text() ===''){
      $('.simple_form edit_client').submit();
    }
  })
  })

  </script>


<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), accountpayables_path %>
</div>
<div class="col-xs-5" style="margin-left : -30px;">
  <h1>Busqueda Avanzada</h1>
</div>
</div>
<%= simple_form_for(@search_accountpayable) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    
    <div class="col-xs-6">
            <%= f.input :profitNumber, as: :integer, placeholder: 'Número', label: 'Número', error: 'El Código debe ser Numérico (6 digitos)'%>
        </div>
        <div class="col-md-6"> 
      <%= f.input :amountPaid, as: :string, type: "number", label: 'Monto Pagado', error: 'Debe ser Númerico' %>
    </div>

  
  </div>
  <br>
  <br>
  <div class="row">
    
    <div class="col-md-6">
      <%= f.input :descripcion, label: 'Descripción' %>
    </div>
  </div>
    <br>
    <br>
 
  <div ALIGN=right>
    <div class="actions">
      <%= f.button :submit, "Crear Cuenta"%>  
    </div>
  </div>
<% end %>


