<p id="notice"><%= notice %></p>

<h1>Listing Apiusers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apiusers.each do |apiuser| %>
      <tr>
        <td><%= apiuser.email %></td>
        <td><%= apiuser.password %></td>
        <td><%= link_to 'Show', apiuser %></td>
        <td><%= link_to 'Edit', edit_apiuser_path(apiuser) %></td>
        <td><%= link_to 'Destroy', apiuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apiuser', new_apiuser_path %>
