<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @apiuser.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @apiuser.password %>
</p>

<%= link_to 'Edit', edit_apiuser_path(@apiuser) %> |
<%= link_to 'Back', apiusers_path %>
