<!DOCTYPE html>
<html>
<head>

</head>
<body>

<p>Facturas Pendientes:</p>

<%accountreceivables = @client.accountreceivables.where(:paid => false)%>
<table style="width:100%;  border: 1px solid black;
    border-collapse: collapse;">
  <tr>
    <th style=" border: 1px solid black;
    border-collapse: collapse;">Numero Factura</th>
    <th style=" border: 1px solid black;
    border-collapse: collapse;">Mes</th>
    <th style=" border: 1px solid black;
    border-collapse: collapse;">Concepto</th>  
    <th style=" border: 1px solid black;
    border-collapse: collapse;">Monto Total a Pagar</th> 
    
  </tr>  
  <%unless accountreceivables.nil?%>
   
      
        <% accountreceivables.each do |accountreceivable| %>
          <tr>
            <td style=" border: 1px solid black;
    border-collapse: collapse;"><%= accountreceivable.profitNumber %></td>
            <td style=" border: 1px solid black;
    border-collapse: collapse;"><%= Settings.meses[accountreceivable.month] %></td>
    <td style=" border: 1px solid black;
    border-collapse: collapse;">
              <% @rate = Rate.find(accountreceivable.rate_id) %>
          <%= @rate.name %>:
          <%= number_to_currency(@rate.amount, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%>
            </td>
            <td style=" border: 1px solid black;
    border-collapse: collapse;"> <%= number_to_currency(accountreceivable.amountWithTax, unit: "Bs ", separator: ",", delimiter: ".", precision: 2)%></td>
            
          </tr>
        <% end %>
      

  
  <%end%>
</table>
<br><br>
<p align="center">
  <a style="-webkit-border-radius: 6;-moz-border-radius: 6;border-radius: 6px;
    font-family: Arial;color: #ffffff;font-size: 15px;background: #00004c ;
    padding: 10px 20px 10px 20px;text-decoration: none;"
    href="http://localhost:3000">Registrar Pago
  </a>
</p>
<br>
<p align="center">
  <b>¡Te invitamos a ver los avances de nuestra plataforma!</b>
</p>
<p align="center">
  Ingresa a Elemétrica y haz click en "Visita la nueva versión".
</p>
<br>
<p align="center">
  <a style="-webkit-border-radius: 6;
    -moz-border-radius: 6;border-radius: 6px;font-family: Arial;color: #ffffff;
    font-size: 17px;background: #00004c;padding: 10px 20px 10px 20px;
    text-decoration: none;" href="https://elemetrica.com/app">Ingresar a Elemétrica</a>
</p>
</body>
</html>
