<p id="notice"><%= notice %></p>

<h1>Listing Clientmails</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Contenido</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientmails.each do |clientmail| %>
      <tr>
        <td><%= clientmail.title %></td>
        <td><%= clientmail.body %></td>
        <td><%= clientmail.client %></td>
        <td><%= link_to 'Show', clientmail %></td>
        <td><%= link_to 'Edit', edit_clientmail_path(clientmail) %></td>
        <td><%= link_to 'Destroy', clientmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clientmail', new_clientmail_path %>
