<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @clientmail.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @clientmail.body %>
</p>


<%= link_to 'Editar', edit_clientmail_path(@clientmail) %> |
<%= link_to 'Atrás', clientmails_path %>
