<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: { class: 'form-inline' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">

    <%= f.input :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
 
    <%= f.input :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">

    <%= f.input :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">

    <%= f.input :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Actualizar" %>
  </div>
<% end %>



<p>Unhappy? <%= button_to "Cancelar Cuenta", registration_path(resource_name), data: { confirm: "¿Estás Seguro?" }, method: :delete %></p>

<%= link_to "Atrás", :back %>
