<script type="text/javascript">
  $(document).ready(function() {
    var amount = document.getElementById("accountpayable_amountPaid");
  
    amount.value = amount.value.replace('.',',');
    amount.addEventListener('keyup', validate_discount, true);
    function validate_discount(){
      var regex_amount = /^[0-9]+([,][0-9]+)?$/;
      if (!(amount.value.match(regex_amount))) {
        if(amount.value!=''){
          var msg = 'Este campo debe ser numérico y sólo admite una coma.';
          document.getElementById("error_discount").innerHTML= msg;
        }
        else{
          document.getElementById("error_discount").innerHTML= '';
        
        }   
      }
      else{
        document.getElementById("error_discount").innerHTML= '';
        
      }
    };
   
    $('#button_edit').click(function(){
    if($('#error_discount').text() ===''){
      $('.simple_form edit_client').submit();
    }
  })
  })
  </script>
<%= simple_form_for(@accountpayable) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    
    <div class="col-xs-6">
            <%= f.input :profitNumber, as: :integer, placeholder: 'Número', label: 'Número (Mínimo 6 Dígitos)', input_html: { autocomplete: 'off' }, error: 'El Código debe ser Numérico (6 digitos)'%>
        </div>
    <div class="col-md-6"> 
      <%= f.association :supplier, label: "Proveedor", 
                  include_blank: "Seleccionar Proveedor", error: 'Debe seleccionar un Proveedor' %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6"> 
      <%= f.input :amountPaid, as: :string, type: "number", label: 'Monto Pagado', input_html: { autocomplete: 'off' }, error: 'Debe ser Númerico' %>
      <span id="error_discount" style="color:#a94442"></span>
    </div>
    <div class="col-md-6">
      <%= f.input :descripcion, label: 'Descripción', input_html: { autocomplete: 'off' } %>
    </div>
  </div>
    <br>
    <br>
  <div class="row">
    
    <div class="col-md-6"> 
                <%= f.input :comment, placeholder: 'Agregar Comentarios', label: 'Comentarios' %>
            </div>
  </div>
  <br>
 
  <div ALIGN=right>
    <div class="actions">
      <%= f.button :submit, "Crear Cuenta"%>  
    </div>
  </div>
<% end %>

