
<%= simple_form_for(@accountpayable, html: { class: 'form-inline' }) do |f| %>
  
  <div class="row">
    <div class="col-md-6"> 
      <%= f.association :supplier, label: "Proveedor", 
                      include_blank: "Seleccionar Proveedor", error: 'Debe seleccionar un Proveedor' %>
    </div>
    
    <div class="col-md-6">
      <%= f.input :descripcion, label: 'Descripción' %>
    </div>
  </div>
    <br>
    <br>
  <div class="row">
    <div class="col-md-6"> 
      <%= f.input :total,  as: :string,  input_html: {value: 0}, label: 'Total', error: 'Debe ser Númerico' %>
    </div>
  </div>
  <br>
 
  <div ALIGN=right>
    <div class="actions">
      <%= f.button :submit, "Crear Cuenta"%>  
      <%= link_to 'Atrás', accountpayables_path, :class => 'btn btn-default btn'  %>
    </div>
  </div>
<% end %>

