
<%= simple_form_for(@accountpayable) do |f| %>
  
  <div class="row">
    <div class="col-md-6"> 
      <%= f.input :date, label: "Fecha de Pago", error: 'Debe seleccionar una Fecha' %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6"> 
      <%= f.association :supplier, label: "Proveedor", 
                      include_blank: "Seleccionar Proveedor", error: 'Debe seleccionar un Proveedor' %>
    </div>
    
    <div class="col-md-6">
      <%= f.input :descripcion, label: 'Descripción' %>
    </div>
  </div>
    <br>
    <br>
  <div class="row">
    <div class="col-md-6"> 
      <%= f.input :amountPaid, as: :string , type: "number", label: 'Monto Pagado', error: 'Debe ser Númerico' %>
    </div>
    <div class="col-md-6"> 
                <%= f.input :comment, placeholder: 'Agregar Comentarios', label: 'Comentarios' %>
            </div>
  </div>
  <br>
 
  <div ALIGN=right>
    <div class="actions">
      <%= f.button :submit, "Crear Cuenta"%>  
      <%= link_to 'Atrás', accountpayables_path, :class => 'btn btn-default btn'  %>
    </div>
  </div>
<% end %>

