<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        
        <Cell><Data ss:Type="String">numeroProfit</Data></Cell>
        <Cell><Data ss:Type="String">fecha</Data></Cell>
        <Cell><Data ss:Type="String">nombreProveedor</Data></Cell>
        <Cell><Data ss:Type="String">rifProveedor</Data></Cell>
        <Cell><Data ss:Type="String">descripcion</Data></Cell>
        <Cell><Data ss:Type="String">montoPagado</Data></Cell>
        <Cell><Data ss:Type="String">comentario</Data></Cell>
      </Row>
      <%@accountpayables = Accountpayable.all%>
    <% @accountpayables.each do |accountpayable| %>
      <Row>
       
        <Cell><Data ss:Type="date"><%= accountpayable.profitNumber %></Data></Cell>
         <Cell><Data ss:Type="date"><%= accountpayable.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= accountpayable.supplier.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= accountpayable.supplier.rif %></Data></Cell>
        <Cell><Data ss:Type="String"><%= accountpayable.descripcion %></Data></Cell>
        <Cell><Data ss:Type="decimal"><%= accountpayable.amountPaid %></Data></Cell>
        <Cell><Data ss:Type="Text"><%= accountpayable.comment %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>