<br>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), accountpayables_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Cuenta por Pagar</h1>
</div>
</div>
<p id="notice"><%= notice %></p>

<br>
<div ALIGN=center>
<p>
	
  <strong>Fecha:</strong>
  <%= @accountpayable.date %>

</p>
<p>
  
  <strong>Fecha:</strong>
  <%= @accountpayable.profitNumber %>

</p>
<p>
  <strong>Cuenta:</strong>
  <%= @accountpayable.supplier.name %>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @accountpayable.descripcion %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@accountpayable.amountPaid, unit: "Bs ", separator: ",", delimiter: ".", precision: 2) %>
</p>
<p>
  <strong>Comentarios:</strong>
  <%= @accountpayable.comment %>
</p>
</div>

