<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), accountpayables_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Cuenta por Pagar</h1>
</div>
</div>


<div ALIGN=center>
  <table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
      <tr>
        <td>
          <p>
            <strong>Fecha:</strong>
            <%= @accountpayable.date %>
          </p>
        </td>
        <td>
        <p>
          <strong>Fecha:</strong>
          <%= @accountpayable.profitNumber %>
        </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Cuenta:</strong>
            <%= @accountpayable.supplier.name %>
          </p>
        </td>
        <td>
          <p>
            <strong>Descripcion:</strong>
            <%= @accountpayable.descripcion %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Total:</strong>
            <%= number_to_currency(@accountpayable.amountPaid, unit: "Bs ", separator: ",", delimiter: ".", precision: 2) %>
          </p>
        </td>
        <td>
          <p>
            <strong>Comentarios:</strong>
            <%= @accountpayable.comment %>
          </p>
        </td>
      </tr>
    
  </table>
</div>

