
<p id="notice"><%= notice %></p>
<h1>Cuenta por Pagar</h1>
<br>
<div ALIGN=center>
<p>
	<p>
  <strong>Fecha:</strong>
  <%= @accountpayable.date %>
</p>
  <strong>Cuenta:</strong>
  <%= @accountpayable.supplier.name %>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @accountpayable.descripcion %>
</p>

<p>
  <strong>Total:</strong>
  <%= @accountpayable.amountPaid %>
</p>
<p>
  <strong>Comentarios:</strong>
  <%= @accountpayable.comment %>
</p>
</div>
<div align="right">
<%= link_to 'Editar', edit_accountpayable_path(@accountpayable), :class => 'btn btn-default btn'  %> 
<%= link_to 'Atrás', accountpayables_path, :class => 'btn btn-default btn'  %>
</div>
