<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elemétrica - Sistema Cobranza</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  </head>
  <body>
<%= favicon_link_tag 'favicon.ico' %>
     <div class="navbar-default sidebar navbar-fixed" role="navigation">
		 <img class="logo img-responsive" src="/assets/logo_data.png" />
	     <div class="sidebar-nav navbar-collapse">
		     <ul class="nav in" id="side-menu">
		        	<%if (current_user.role != "client") %>
					<li style="list-style:none;">
					<%= link_to 'Clientes', controller: 'clients' %>
					</li>
					<%end%>
					<%if (current_user.role != "client") %>
					<li style="list-style:none;">
					<%= link_to 'Proveedores', controller: 'suppliers' %>
					</li>
					<%end%>
					<%if (current_user.role != "client")%>
					<li style="list-style:none;">
					<%= link_to 'Cuentas por Cobrar', controller: 'accountreceivables' %>
					</li>
					<%end%>
					<%if (current_user.role != "client") %>
					<li style="list-style:none;">
					<%= link_to 'Cuentas por Pagar', controller: 'accountpayables' %>
					</li>
					<%end%>
					<%if (current_user.role != "client" and current_user.role != "limited" and current_user.role != "restricted")  %>
					<li style="list-style:none;">
					<%= link_to 'Descuentos', controller: 'discounts' %>
					</li>
					<%end%>
					<%if (current_user.role != "client" 	 and current_user.role != "restricted")  %>
					<li style="list-style:none;">
					<%= link_to 'Correos Electrónicos', controller: 'client_mails' %>
					</li>
					<%end%>
					<%if (current_user.role != "client" and current_user.role != "limited" and current_user.role != "restricted")  %>
					
						<li style="list-style:none;">
						<%= link_to 'Gestión de Roles', controller: 'users' %>
						</li>
					<%end%>
					<%if current_user.role == "client"%>
					<li style="list-style:none;">
						<%= link_to 'Registro de Pagos', controller: 'payments' %>
						</li>
					<%end%>
		        </ul>
		        <ul class="nav in" id="bottom-menu">
		        	<li>
		        		<%if user_signed_in? %>
						  <br>
						  <div ALIGN=center>
							  <p class="col-md">
							  	<%= link_to "Salir" , destroy_user_session_path , method: :delete%>
							  </p> 
						  </div>
						<%end%>
		        	</li>
		        </ul>   
	    </div>
   </div>

	<div class="container-fluid" id="view">
		<div class="col-md-12">
			<%= yield %>
		</div>
		<p class="alert"><%= alert %></p>

</div>





</body>
</html>
