<!DOCTYPE html>
<html>
<head>
  <title>Proyecto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="alert"><%= alert %></p>



<%= yield %>

<%if user_signed_in? %>
<br>
  <div ALIGN=center>
  <p class="col-md">
  	<%= link_to "Log Out", destroy_user_session_path , method: :delete%>
  </p> 
  </div>
<%end%>

</body>
</html>
