<div ALIGN=center>
<%= simple_form_for(@supplier, html: { class: 'form-inline' }) do |f| %>
  

  <div class="field">
   
    <%= f.input :name, placeholder: 'Nombre', label: 'Nombre' %>
  </div>
  <div class="field">
   
    <%= f.input :lastname , placeholder: 'Apellido', label: 'Apellido' %>
  </div>
  <div class="field">
    <%= f.input :email, placeholder: 'Correo', label: 'Correo' %>
  </div>


</div> 
<div ALIGN=right>
   <div class="actions">
    <%= f.button :submit, "Crear Proveedor"%>
    <%= link_to 'Atrás', suppliers_path, :class => 'btn btn-default btn'  %>
  </div>
  
<% end %>
</div>
