<div ALIGN=center>
<%= simple_form_for(@supplier, remote: true, html: { class: 'form-inline' }) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
    <%= f.input :name, placeholder: 'Nombre', label: 'Nombre' %>
  </div>
  <div class="field">
   
    <%= f.input :lastname , placeholder: 'Apellido', label: 'Apellido' %>
  </div>
  <div class="field">
    <%= f.input :email, placeholder: 'Correo', label: 'Correo' %>
  </div>


 
 
   <div class="actions">
    <%= f.button :submit, "Crear Cliente"%>
  </div>
  
<% end %>
</div>
