
<%= simple_form_for(@supplier) do |f| %>
   <%= f.error_notification %> 
    <div class="row">
      <div class="col-md-6"> 
        <%= f.input :rif, as: :integer, placeholder: 'RIF', label: 'RIF', error: 'Debe ingresar el RIF del Cliente o este debe ser Numérico' %>
      </div>
      <div class="col-md-6">
        <%= f.input :email, placeholder: 'Correo', label: 'Correo' %>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6"> 
        <%= f.input :name, placeholder: 'Nombre', label: 'Nombre' %>
      </div>
    
      <div class="col-md-6">    
        <%= f.input :socialReason , placeholder: 'Razón Social', label: 'Razón Social' %>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      
      <div class="col-md-6">
        <%= f.input :address, placeholder: 'Dirección', label: 'Dirección' %>
      </div>
    </div>



  <div ALIGN=right>   
    <br>
      <div class="actions">
      <%=image_submit_tag("addsupplier.ico",  title: "Añadir Proveedor")%>
      </div>
  </div>
<% end %>

