
<%= simple_form_for(@supplier) do |f| %>
   <%= f.error_notification %> 
    <div class="row">
      <div class="col-md-6"> 
        <%= f.input :rif, placeholder: 'RIF', label: 'RIF', error: 'Debe ingresar el RIF del Cliente o este debe ser Numérico' %>
      </div>
      <div class="col-md-6">
        <%= f.input :email, placeholder: 'Correo', label: 'Correo' %>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6"> 
        <%= f.input :name, placeholder: 'Nombre', label: 'Nombre' %>
      </div>
    
      <div class="col-md-6">    
        <%= f.input :socialReason , placeholder: 'Razón Social', label: 'Razón Social' %>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      
      <div class="col-md-6">
        <%= f.input :address, placeholder: 'Dirección', label: 'Dirección' %>
      </div>
    </div>



  <div ALIGN=right>
    <div class="actions">
      <%= f.button :submit, "Crear Proveedor"%>
      <%= link_to 'Atrás', suppliers_path, :class => 'btn btn-default btn'  %>
    </div>
  </div>
<% end %>

