
<p id="notice"><%= notice %></p>

<h1>Proveedores</h1>
<div ALIGN=center>
<%= form_tag import_suppliers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Naombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.lastname %></td>
        <td><%= supplier.email %></td>
        <td><%= link_to 'Mostrar', supplier, :class => 'btn btn-success btn'  %></td>
        <td><%= link_to 'Editar', edit_supplier_path(supplier), :class => 'btn btn-primary btn' %></td>

        <td><%= link_to 'Eliminar', supplier, method: :delete, data: { confirm: '¿Estás Seguro?' },:class => 'btn btn-danger btn' %></td>
      </tr>
    <% end %>
    
  </tbody>

</table>

<br>
<%= will_paginate %>
</div>
<div ALIGN=right>
<%= link_to 'Nuevo Proveedor', new_supplier_path, :class => 'btn btn-default btn'  %>


</div>