
<p id="notice"><%= notice %></p>

<h1>Proveedores</h1>

<div class="row">
      <div class="col-xs-6">
        <!--Busqueda de clientes por nombre-->
        <%= hidden_field_tag :direction, params[:search]%>
        <%= hidden_field_tag :sort, params[:sort]%>
        <label>Nombre</label>
        <%= form_tag suppliers_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Buscar proveedor", :name => nil, :class => 'btn btn-default btn'   %>
          </p>
        <% end %>
        <p><%= link_to "Busqueda Avanzada", new_search_supplier_path %></p> 
      </div>    
      
      <div class="col-xs-6">
        <%= form_tag import_suppliers_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Importar", :class => 'btn btn-default btn'   %>
        <% end %> 
              
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p>
          Exportar Proveedores:
          <%= link_to "CSV", suppliers_path(format: "csv") %> |
          <%= link_to "Excel", suppliers_path(format: "xls") %>
        </p>        
      </div>
    </div>







   

<table class="table table-striped">

  <thead>
    <tr>
      <th><%=  sortable "rif", "RIF"%></th>
        <th><%=  sortable "name", "Name"%></th>
        <th><%=  sortable "socialReason", "Razón Social"%></th>
        <th><%=  sortable "email", "Email"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
     <tr data-href="<%= edit_supplier_path(supplier) %>">
      
        <td><%= supplier.rif %></td>
        <td><%= supplier.name %></td>
        <td><%= supplier.socialReason %></td>
        <td><%= supplier.email %></td>
        <td><%= link_to 'Mostrar', supplier, :class => 'btn btn-success btn'  %></td>
        <td><%= link_to 'Editar', edit_supplier_path(supplier), :class => 'btn btn-primary btn' %></td>

        <td><%= link_to 'Eliminar', supplier, method: :delete, data: { confirm: '¿Estás Seguro?' },:class => 'btn btn-danger btn' %></td>

      </tr>
    <% end %>
    
  </tbody>

</table>

<br>
<%= will_paginate %>

<div ALIGN=right>
<%= link_to 'Nuevo Proveedor', new_supplier_path, :class => 'btn btn-default btn'  %>


</div>