<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">rif</Data></Cell>
        <Cell><Data ss:Type="String">nombre</Data></Cell>
        <Cell><Data ss:Type="String">razonSocial</Data></Cell>
        <Cell><Data ss:Type="String">correo</Data></Cell>
        <Cell><Data ss:Type="String">direccion</Data></Cell>
      </Row>
      <%@suppliers = Supplier.all%>
    <% @suppliers.each do |supplier| %>
      <Row>
        <Cell><Data ss:Type="String"><%= supplier.rif %></Data></Cell>
        <Cell><Data ss:Type="String"><%= supplier.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= supplier.socialReason %></Data></Cell>
        <Cell><Data ss:Type="String"><%= supplier.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= supplier.address %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook> 