
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>

<h1>Proveedores</h1>


    <div id="menu-element" class="well-separator">
      

        <div class="row">
        <div align="center">
            <div class="col-sm-4"><label>Buscar</label></div>
            <div class="col-sm-3"><label>Importar Proveedores</label></div>
            <div class="col-sm-3"><label>Exportar Proveedores</label></div>
            <div class="col-sm-2"><label>Agregar Proveedor</label></div>
            </div>
        </div>
   
        <div class="row">
        <div class="col-xs-4" align="center">
          <div class="form-group bar-search">
            <!--Busqueda de clientes por nombre-->
            <%= hidden_field_tag :direction, params[:search]%>
            <%= hidden_field_tag :sort, params[:sort]%>
            
            <%= form_tag suppliers_path, :method => 'get' do %>
             
                <%= text_field_tag :search, params[:search], class: 'form-control', placeholder:"RIF Proveedor",id:"myInput", onkeyup:"myFunction()", autocomplete:"off" %>
                <span class="loop-icon">
                
                  <span class="add-icon"><%= link_to image_tag('/assets/advanced.ico',  title: "Busqueda Avanzada"), new_search_supplier_path %></span>
             
                </span>
                
            <% end %>
            </div>
            
          </div>    

          <div class="col-xs-3"> 
            <div  class="right-separator-red" align="center">
              <span class="add-icon"><%= link_to image_tag('/assets/import.ico',  title: "Importar Proveedores"), new_supplier_import_path %></span>
            </div>
          </div>
          <div class="col-xs-3">
          <div align="center">
            <%= link_to image_tag('/assets/pdf.ico', title: "Generar Pdf"), "suppliers.pdf", :format => 'pdf', target: :_blank  %>
            <%= link_to image_tag('/assets/excel.ico', title: "Generar Excel"), suppliers_path(format: "xls")  %>
            
          </div>
          </div>
          <div class="col-xs-2">
          <div align="center">
            <%= link_to 'Nuevo Proveedor', new_supplier_path, :class => 'btn btn-default btn'  %>
            
          </div>
          </div>
        </div>
        
    
</div>


   

<table class="table table-striped table-hover" id="myTable">

 
    <tr>
      <th><%=  sortable "rif", "RIF"%></th>
        <th><%=  sortable "name", "Name"%></th>
        <th><%=  sortable "socialReason", "Razón Social"%></th>
        <th><%=  sortable "email", "Email"%></th>
      <th colspan="3"></th>
    </tr>
 

  <tbody>
    <% @suppliers.each do |supplier| %>
     <tr data-href="<%= edit_supplier_path(supplier) %>">
      
        <td width="20%"><%= supplier.rif %></td>
        <td width="20%"><%= supplier.name %></td>
        <td width="20%"><%= supplier.socialReason %></td>
        <td width="20%"><%= supplier.email %></td>
        <% if can? :show, supplier %>
          <td><%= link_to image_tag('/assets/showeye.ico',  title: "Ver Proveedor"), supplier %></td>
        <%end%>
        <% if can? :edit, supplier %>
        <td><%= link_to image_tag('/assets/pencil.ico',  title: "Editar Proveedor"), edit_supplier_path(supplier) %></td>
        <%end%>
        <% if can? :delete, supplier %>
        <td><%= link_to image_tag('/assets/delete.ico',  title: "Eliminar Proveedor"), supplier, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
        <%end%>

      </tr>
    <% end %>
    
  </tbody>

</table>

<br>
<%= will_paginate %>



<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>