
<h1>Proveedores</h1>
<table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
    <tr>
		<th style="width: 200px;"> RIF </th>
	        <th style="width: 200px;"> Nombre </th>
	        <th style="width: 200px;"> Correo </th>
          <th style="width: 200px;"> Razón Social </th>
	        <th style="width: 200px;"> Dirección </th>
    </tr>
    <%@suppliers = Supplier.all%>
    <% @suppliers.each do |supplier| %>
    	<tr>
        <td><%= supplier.rif %></td>
        <td><%= supplier.name %></td>
        <td><%= supplier.email%></td>
        <td><%= supplier.socialReason%></td>
        <td><%= supplier.address%></td>
	<%end%>
    <%if @suppliers.size == 0%>
      No Hay  Proveedores
    <%end%>
  </table>