<div ALIGN=center>
<p id="notice"><%= notice %></p>
<h1>Proveedor</h1>
<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @supplier.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>

</div>
<div ALIGN=right>

<%= link_to 'Atrás', suppliers_path, :class => 'btn btn-default btn' %>
</div>
