<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), suppliers_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Proveedor</h1>
</div>
</div>


<div ALIGN=center>
  <table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
      <tr>
        <td>
          <p>
            <strong>RIF:</strong>
            <%= @supplier.rif %>
          </p>
        </td>
        <td>
        <p>
          <strong>Nombre:</strong>
            <%= @supplier.name %> 
        </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Razon Social:</strong>
            <%= @supplier.socialReason %>
          </p>
        </td>
        <td>
          <p>
           <strong>Correo Electrónico:</strong>
            <%= @supplier.email %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Dirección:</strong>
            <%= @supplier.address %>
          </p>
        </td>
        <td>
          <p>
            <strong>Comentarios:</strong>
            <%= @supplier.comment %>
          </p>
        </td>
      </tr>
    
  </table>
</div>