<div ALIGN=center>
<p id="notice"><%= notice %></p>
<h1>Proveedor</h1>
<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @supplier.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>
<p>
  <strong>Tops:</strong>
  <%= @supplier.tops.map(&:name).join(',') %>
</p>

<%= link_to 'Editar', edit_supplier_path(@supplier) %> |
<%= link_to 'Atrás', suppliers_path %>
</div>
