
<p id="notice"><%= notice %></p>
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), suppliers_path %>
<h1>Proveedor</h1>
<div ALIGN=center>
<p>
  <strong>RIF:</strong>
  <%= @supplier.rif %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @supplier.name %> 
</p>

<p>
  <strong>Razon Social:</strong>
  <%= @supplier.socialReason %>
</p>
<p>
  <strong>Correo Electrónico:</strong>
  <%= @supplier.email %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @supplier.address %>
</p>
</div>
