<h1>Busqueda Avanzada</h1>
<%= simple_form_for(@search_discount, html: { class: 'form-inline' }) do |s| %>

	<div class="row">
    	<div class="col-xs-6">
			<%=s.input :keywords, label: "Nombre"%>
		</div>
	
        <div class="col-xs-6">
			<%=s.input :percentage, label: "Porcentage"%>
		</div>
	</div>
	
	<div ALIGN=right>  
    <br>
	<%= s.button :submit, "Buscar Descuento"%>  
	<%= link_to 'Atrás', discounts_path, :class => 'btn btn-default btn'  %>
	</div>
<%end%>
