<h1>Accountreceivable Import</h1>

<p>Un archivo  Excel puede utilizarse para importar registros. La primera fila debe ser el nombre de columna. Se permiten las siguientes columnas.</p>

<ul>
  <% Accountreceivable.columns.each do |column| %>
    <% if column.name.in? ["rif", *Accountreceivable.attribute_names] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
</ul>

<p>Si un <strong>rif</strong> se suministra se actualizará el registro coincidente en lugar de crear uno nuevo.</p>

<%= form_for @accountreceivable_import do |f| %>
  <% if @accountreceivable_import.errors.any? %>
    <div id="error_explanation">
      Errores: <h2><%= pluralize(@accountreceivable_import.errors.count, "error") %>. Por favor corrija los siguienes errores:</h2>
      <ul>
      <% @accountreceivable_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
