<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atr치s"), accountreceivables_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Importar Cuentas</h1>
</div>
</div>

<%= form_for @accountreceivable_import do |f| %>
  

  
  

        <div id="menu-element" class="well-separator">
              
                <div class="row">
                <div align="center">
                    <div class="col-sm-4"><label>Seleccionar Archivo</label></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"><label>Importar Cuentas</label></div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-4" align="center">
                  <div class="field">
                    <%= f.file_field :file %>
                  </div>
                  </div>    

                  <div class="col-xs-3"> 
                  </div>
                  <div class="col-xs-3">


                  </div>
                  <div class="col-xs-2">
                  <div align="center">
                    <div class="buttons"><%= f.submit "Importar", :class => 'btn btn-default btn'   %></div>
                    
                  </div>

                  
                  </div>
                </div>
                
             
        </div>

        <div align="center">
          <p>En esta secci칩n puedes importar masivamente una lista de cuentas por cobrar contenidas en un archivo excel.</p>
          <p> La primera fila del archivo debe ser el nombre de columna. </p>
          <p>Las columnas deben llamarse tal y como se muestra a continuaci칩n:</p>
        </div>  
        <ul>
        <li>
        <strong>numeroControlProfit</strong> - Tipo texto   
      </li>
       <li>
        <strong>rifCliente</strong> - Tipo texto   
      </li>
      <li>
        <strong>mes</strong> - Tipo texto  
      </li>
      <li>
        <strong>codigoProfit</strong> - Tipo texto   
      </li>    
      <li>
        <strong>banco</strong> - Tipo texto   
      </li> 
      <li>
        <strong>conceptoPago</strong> - Tipo texto   
      </li> 
      <li>
        <strong>estadoCuenta</strong> - Tipo texto  
      </li>
      <li>
        <strong>montoPagado</strong> - Tipo decimal   
      </li>
      <li>
        <strong>tipoPago</strong> - Tipo texto   
      </li>      
      <li>
        <strong>comentarioPago</strong> - Tipo texto 
      </li>



</ul>
        <div align="center">
          <p>Si un <strong>numeroControlProfit</strong> se suministra se actualizar치 el registro coincidente en lugar de crear uno nuevo.</p>
        </div>



        <br>
       <% if @accountreceivable_import.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@accountreceivable_import.errors.count, "errores") %>. Por favor corrija los siguienes errores:</h2>
      <ul>
      <% @accountreceivable_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>