<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), accountreceivables_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Importar Cuentas</h1>
</div>
</div>

<p>Un archivo  Excel puede utilizarse para importar registros. La primera fila debe ser el nombre de columna. Se permiten las siguientes columnas.</p>




<ul>
      <li>
        <strong>numeroProfit</strong> - Tipo texto   
      </li>
      <li>
        <strong>codigoProfit</strong> - Tipo texto   
      </li>
      

      
      <li>
        <strong>rifCliente</strong> - Tipo texto   
      </li>
      <li>
        <strong>numeroProfit</strong> - Tipo texto   
      </li>
      <li>
        <strong>codigoProfit</strong> - Tipo texto  
      </li>
      <li>
        <strong>fecha</strong> - Tipo decimal  
      </li>
      <li>
        <strong>estado</strong> - Tipo texto  
      </li>
      <li>
        <strong>tipoPago</strong> - Tipo texto   
      </li>
      <li>
        <strong>montoPagado</strong> - Tipo texto   
      </li>
      <li>
        <strong>banco</strong> - Tipo texto   
      </li>
      <li>
        <strong>mes</strong> - Tipo texto  
      </li>
      <li>
        <strong>comentarioPago</strong> - Tipo decimal  
      </li>



</ul>

<!-- <ul>
  <% Accountreceivable.columns.each do |column| %>
    <% if column.name.in? ["rif", *Accountreceivable.attribute_names] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
</ul> -->

<p>Si un <strong>rif</strong> se suministra se actualizará el registro coincidente en lugar de crear uno nuevo.</p>

<%= form_for @accountreceivable_import do |f| %>
  <% if @accountreceivable_import.errors.any? %>
    <div id="error_explanation">
      Errores: <h2><%= pluralize(@accountreceivable_import.errors.count, "error") %>. Por favor corrija los siguienes errores:</h2>
      <ul>
      <% @accountreceivable_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
<br>
