<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), clients_path %>
</div>

  <h1>Busqueda Avanzada</h1>

<%= simple_form_for(@search_client) do |f| %>
  <%= f.error_notification %>
  
       <div class="row">
        <div class="col-xs-6">
          <%= f.input :rif, placeholder: 'RIF', label: 'RIF', error: 'El RIF debe ser Numérico (9 digitos)', input_html: { autocomplete: 'off' }  %>
        </div>
      
        <div class="col-xs-6">
            <%= f.input :profitCode,  as: :integer,placeholder: 'Código Profit', label: 'Código Profit', error: 'El Código debe ser Numérico (6 digitos)', input_html: { autocomplete: 'off' }  %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :name, placeholder: 'Nombre', label: 'Nombre', error: 'Debe ingresar el nombre del Cliente', input_html: { autocomplete: 'off' }   %>
        </div>
        <div class="col-xs-6">
            <%= f.input :socialReason, placeholder: 'Razón Social', label: 'Razón Social', error: 'Debe ingresar la Razón Social del Cliente', input_html: { autocomplete: 'off' }   %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
              <%= f.input :localAmount, label: "Numero locales", error: 'Este campo debe ser Numérico', input_html: { autocomplete: 'off' }  %>
        </div>
        
        <div class="col-xs-6">
          <%= f.input :state, placeholder: 'Estado', label: 'Estado', error: 'Debe ingresar el Estado del Cliente', input_html: { autocomplete: 'off' } %>
        </div>
        
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-6">
        
            <%= f.input :country, as: :country, placeholder: 'Venezuela', label: 'País', error: 'Debe ingresar el país del Cliente' %>
        </div>
       	<div class="col-xs-6">
          <b><%= f.input :specialcontributor,  label: "Contribuyente Especial"%></b>
   
          <%= f.input :chargeMonthlyFee,  label: "Cobrar Mensualidad"%>
    
     
        </div>
        
        </div>
      
      <br>
      <br>
        
  
      


<br>
  <div ALIGN=right>   
    <br>
      <div class="actions">
       <%= f.button :button, "Crear Cliente" %>
      </div>
  </div>
<% end %>
<br>
<br>

