<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), suppliers_path %>
</div>
<div class="col-xs-5" style="margin-left : -30px;">
<h1>Importar Proveedores</h1>
</div>
</div>


<%= form_for @supplier_import do |f| %>
  

  
  

        <div id="menu-element" class="well-separator">
              
                <div class="row">
                <div align="center">
                    <div class="col-sm-4"><label>Seleccionar Archivo</label></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-2"><label>Importar Proveedores</label></div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-4" align="center">
                  <div class="field">
                    <%= f.file_field :file %>
                  </div>
                  </div>    

                  <div class="col-xs-3"> 
                  </div>
                  <div class="col-xs-3">


                  </div>
                  <div class="col-xs-2">
                  <div align="center">
                    <div class="buttons"><%= f.submit "Importar", :class => 'btn btn-default btn'   %></div>
                    
                  </div>

                  
                  </div>
                </div>
                
            
        </div>

        <div align="center">
          <p>En esta sección puedes importar masivamente una lista de proveedores contenidos en un archivo excel.</p>
          <p> La primera fila del archivo debe ser el nombre de columna. </p>
          <p>Las columnas deben llamarse tal y como se muestra a continuación:</p>
        </div>  
        <ul>
      
      <li>
        <strong>rif</strong> - Tipo texto   <strong>(campo obligatorio)</strong>
      </li>
      <li>
        <strong>nombre</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
      </li>
      <li>
        <strong>razonSocial</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
      </li>
      <li>
        <strong>correo</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
      </li>
      <li>
        <strong>direccion</strong> - Tipo texto  <strong>(campo obligatorio)</strong>
      </li>
      <li>
        <strong>comentarios</strong> - Tipo texto  <strong>(campo opcional)</strong>
      </li>



</ul>
        <div align="center">
          <p>Si un <strong>rif</strong> se suministra se actualizará el registro coincidente en lugar de crear uno nuevo.</p>
        </div>



        <br>
       <% if @supplier_import.errors.any? %>
    <div id="error_explanation">
      <h2>Se encontraron <%= pluralize(@supplier_import.errors.count, "errores") %> en la importación:</h2>
      <ul>
      <% @supplier_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>



