
<%= simple_form_for(@discount, html: { class: 'form-inline' }) do |f| %>
 
    
  <div class="row">
    <div class="col-md-6">
     <label>Nombre</label>
      <%= f.input :name, placeholder: 'Nombre', label: false, error: 'Debe ingresar el nombre del Descuento'  %>
    </div>
 
    <div class="col-md-6">
      <label>Porcentaje</label>
      <%= f.input :percentage, placeholder: 'Porcentaje', label: false, error: 'Debe ingresar el porcentaje de Descuento' %>
    </div>
    
  </div>
  <br>
  <br>
  <div ALIGN=right>
    <div class="actions">
      <%= f.button :submit, "Crear Descuento"%>  
      <%= link_to 'Atrás', discounts_path, :class => 'btn btn-default btn'  %>
    </div>
  </div>
<% end %>
