
<%= simple_form_for(@discount, html: { class: 'form-inline' }) do |f| %>
 
    
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, placeholder: 'Nombre', label: 'Nombre', error: 'Debe ingresar el nombre del Descuento '  %>
    </div>
 
    <div class="col-md-6">
      <%= f.input :percentage,  as: :string,  input_html: {value: 0} , placeholder: 'Porcentaje', label: 'Porcentaje', error: 'Debe ingresar el porcentaje de Descuento o este debe ser Numérico' %>
    </div>
    
  </div>
  <br>
  <br>
  <div ALIGN=right>
    <div class="actions">
      <%= f.button :submit, "Crear Descuento", :confirm => '123' %>  
      <%= link_to 'Atrás', discounts_path, :class => 'btn btn-default btn'  %>
    </div>
  </div>
<% end %>
