<p id="notice"><%= notice %></p>

<h1>Descuentos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Porcentaje</th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.name %></td>
        <td><%= discount.percentage %></td>
        <td><%= link_to 'Show', discount, :class => 'btn btn-success btn' %></td>
        <td><%= link_to 'Edit', edit_discount_path(discount), :class => 'btn btn-warning btn' %></td>
        <td><%= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div ALIGN=right>
  <%= link_to 'Nuevo Descuento', new_discount_path, :class => 'btn btn-default btn'  %>
  
</div>
