<p id="notice"><%= notice %></p>

<h1>Descuentos</h1>
    <div ng-class="row">
      <div class="col-xs-6">
            <!--Busqueda de clientes por nombre-->
            <%= hidden_field_tag :direction, params[:search]%>
            <%= hidden_field_tag :sort, params[:sort]%>
            <label>Nombre</label>
            <%= form_tag discounts_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Buscar Descuento", :name => nil, :class => 'btn btn-default btn'   %>
              </p>
            <% end %>
            <!--<p><%= link_to "Busqueda Avanzada", new_search_discount_path %></p> -->
      </div>    
    </div> 
    
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "name", "Nombre"%></th>
      <th><%= sortable "percentage", "Porcentaje"%></th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.name %></td>
        <td><%= discount.percentage %></td>
        <td><%= link_to 'Mostrar', discount, :class => 'btn btn-success btn' %></td>
        <td><%= link_to 'Editar', edit_discount_path(discount), :class => 'btn btn-warning btn' %></td>
        <td><%= link_to 'Eliminar', discount, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
<%= will_paginate %>
</div>
<br>

<div align="right">
  <%= link_to 'Nuevo Descuento', new_discount_path, :class => 'btn btn-default btn'  %>
  </div>
  
