 <!-- este mailer es el encargado de enviar los recordatorios al departamento administrativo  -->
<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
	<strong>Información a revisar:</strong>
	

<br>
<p>Clientes</p>
<table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
    <tr>
      <th align="center">Rif</th>
      <th align="center">Cliente</th>
      <th align="center">Comentario</th>
    </tr>
    <%@clients = Client.all%>
    <% @clients.each do |client| %>
      <tr>
      <%unless client.comment.nil?%>
        <%if client.comment.size > 0%>
          <td><%= client.rif %></td>
          <td><%= client.name %></td>
          <td><%= client.comment %></td>
        <%end%>
      <%end%>
    <%end%>
    <%if @clients.nil?%>
      No Hay Comentarios registrados para los Proveedores
    <%end%>
  </table>

<br>
<br>
<p>Proveedores</p>
<table width="100%" border="2px" cellspacing="0px" cellpadding="8px"
         style="margin:0 auto;">
    <tr>
      <th align="center">Rif</th>
      <th align="center">Proveedor</th>
      <th align="center">Comentario</th>
    </tr>
    <%@suppliers = Supplier.all%>
    <% @suppliers.each do |supplier| %>
      <tr>
      <% unless supplier.comment.nil?%>
        <%if supplier.comment.size > 0%>
          <td><%= supplier.rif %></td>
          <td><%= supplier.name %></td>
          <td><%= supplier.comment %></td>
        <%end%>
      <%end%>
    <%end%>
    <%if @suppliers.nil?%>
      No Hay Comentarios registrados para los Proveedores
    <%end%>
  </table>

	</body>
</html>
