

<li style="list-style:none;">
<%= link_to 'Registrar Pago', controller: 'payments' %>
</li>



<li style="list-style:none;">
<%= link_to 'Clientes', controller: 'clients' %>
</li>




<li style="list-style:none;">
<%= link_to 'Proveedores', controller: 'suppliers' %></%>
</li>




<li style="list-style:none;">
<%= link_to 'Cuentas por Cobrar', controller: 'accountreceivables' %>
</li>





<li style="list-style:none;">
<%= link_to 'Cuentas por Pagar', controller: 'accountpayables' %>
</li>

<li style="list-style:none;">
<%= link_to 'Recordatorios', controller: 'mailreminders' %>
</li>

<% if can? :index, :users %>

<li style="list-style:none;">
<%= link_to 'Gestión de Roles', controller: 'users' %>
</li>
<%end%>
