<div ALIGN=center>
<%= form_for(@mailreminder) do |f| %>
  <% if @mailreminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailreminder.errors.count, "error") %> prohibited this mailreminder from being saved:</h2>

      <ul>
      <% @mailreminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear Recordatorio'%>
  </div>
<% end %>
</div>
