<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mailreminder.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @mailreminder.body %>
</p>

<%= link_to 'Edit', edit_mailreminder_path(@mailreminder) %> |
<%= link_to 'Back', mailreminders_path %>
