<div ALIGN=center>
<p id="notice"><%= notice %></p>
<h1>Recordatorio</h1>
<p>
  <strong>Title:</strong>
  <%= @mailreminder.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @mailreminder.body %>
</p>

<%= link_to 'Editar', edit_mailreminder_path(@mailreminder) %> |
<%= link_to 'Atrás', mailreminders_path %>
</div>
