<br>
<% if flash[:notice] -%>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<h1>Informes</h1> 
<div id="menu-element" class="well-separator">
      
        <div class="row">
        <div align="center">
            <div class="col-sm-4"><label>Buscar Informes</label></div>
            <div class="col-sm-2"><label></label></div>
            <div class="col-sm-2"><label></label></div>
            <div class="col-sm-4"><label>Agregar Informe</label></div>
            </div>
        </div>
   
        <div class="row">
          <div class="col-xs-4">
          <div class="form-group bar-search" align="center">
            <!--Busqueda de clientes por nombre-->
            <%= hidden_field_tag :direction, params[:search]%>
            <%= hidden_field_tag :sort, params[:sort]%>
            
            <%= form_tag reports_path, :method => 'get' do %>
             
                <%= text_field_tag :search, params[:search], class: 'form-control', placeholder:"Título Informe",id:"myInput", onkeyup:"myFunction()", autocomplete:"off" %>
                
            <% end %>
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-2"></div>
          <div align="col-sm-4">
          <div class="form-group bar-search" align="center">
              <%= link_to 'Crear Informe', new_report_path, :class => 'btn btn-default btn'  %>
            </div>
          </div>
        </div>
</div>

 
    
<table class="table table-striped table-hover" id="myTable">
 
    <tr>
    <th><%=  sortable "title", "Título"%></th>
    <th><%=  sortable "content", "Contenido"%></th>
    <th><%=  sortable "chart", "Gráfico"%></th>

      <th colspan="3"></th>
    </tr>
 

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.content %></td>
        <td><%= report.chart %></td>
        <% if can? :show, report %>
          <td> <%= link_to image_tag('/assets/showeye.ico',  title: "Ver Reporte"), report %></td>
        <%end%>
        <% if can? :edit, report %>
        <td><%= link_to image_tag('/assets/pencil.ico',  title: "Editar Reporte"), edit_report_path(report) %></td>
        <%end%>
        <% if can? :delete, report %>
          <td><%= link_to image_tag('/assets/delete.ico',  title: "Eliminar Reporte"), report, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>



<br>



  <script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
