<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<!--esta etiqueta parece ser la que importa los estilos css al pdf-->
		<%=wicked_pdf_stylesheet_link_tag 'pdf'%>

		<meta charset="Utf-8">
	</head>
	<div align="center">
		<body onload="number_pages()">
		<% report = $actualReport %>
		<h1><%= report.title %></h1>
		
		
			
			  
				


				<div ALIGN=center>
					<%if report.chart_url.nil?%>
					
						<p>
						  <h3><%= report.content %></h3>
						  
						</p>
					<%else%>
						<%patchPc = "/home/daniel/Documentos/Proyecto/proyecto/public" + report.chart_url%>
						
						 <img src=<%= patchPc%>>
						
						<p>
						  <h3><%= report.content %></h3>
						  
						</p>
					<%end%>

					

				</div>
			  

		</body>
	</div>
</html>